<div class="container mt-5">
  <h2 class="mb-4">Search Results for "<%= @query %>"</h2>

  <% if @results.any? %>
    <div class="row">
      <% @results.each_with_index do |result, index| %>
        <%= render partial: result.to_partial_path, locals: { result.class.name.demodulize.underscore.to_sym => result } %>
      <% end %>
    </div>
    <%= paginate @results %>
  <% else %>
    <div class="alert alert-warning mt-4">
      <p>No results found for "<%= @query %>". Please try another search term.</p>
    </div>
  <% end %>

  <% if @suggestions.any? %>
    <div class="mt-4">
      <h4>Did you mean?</h4>
      <ul>
        <% @suggestions.each do |suggestion| %>
          <li>
            <a href="<%= search_better_together_path(q: suggestion) %>"><%= suggestion %></a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
