<%# locals: (offers:) %>
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><%= t('.recent_offers', default: 'Recent Offers') %></h5>
    <div class="d-flex gap-2 align-items-center">
      <% if policy(BetterTogether::Joatu::Offer).create? %>
        <%= link_to t('.new_offer', default: 'New Offer'), joatu_new_offer_path, class: 'btn btn-sm btn-primary' rescue link_to(t('.new_offer', default: 'New Offer'), new_joatu_offer_path, class: 'btn btn-sm btn-primary') %>
      <% end %>
      <%= link_to t('.view_all_offers', default: 'View all'), joatu_offers_path, class: 'small text-decoration-none' %>
    </div>
  </div>
  <div class="card-body">
    <% if offers.present? %>
      <div class="list-group list-group-flush">
        <%= render partial: 'better_together/joatu/offers/offer_list_item', collection: offers, as: :offer_list_item, locals: { show_categories: true } %>
      </div>
    <% else %>
      <p class="text-muted mb-0"><%= t('.no_offers', default: 'No recent offers') %></p>
    <% end %>
  </div>
</div>
