<%= form_with(model: page, class: 'form') do |form| %>
  
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <%= link_to 'Back to List', pages_path, class: 'btn btn-secondary' %>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Third group">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
    <% if page.persisted? %>
      <div class="btn-group" role="group" aria-label="Third group">
        <%= link_to 'View Page', page_path(page), class: 'btn btn-info', target: 'view-Page' %>
      </div>
    <% end %>
  </div>

  <% if page.errors.any? %>
    <div class="alert alert-danger">
      <h4>Please correct the following errors:</h4>
      <ul>
        <% page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">

    <div class="col-xs-12 col-md-4 col-lg-3 px-4">
      <div class="row mb-3">
        <%= render partial: 'better_together/shared/translated_string_field', locals: { model: page, form: form, attribute: 'title' } %>
      </div>

      <div class="row mb-3">
        <%= render partial: 'better_together/shared/translated_string_field', locals: { model: page, form: form, attribute: 'slug' } %>
      </div>

      <div class="row mb-3">
        <%= form.label :privacy %>
        <%= form.select :privacy, ['public', 'closed', 'private'], {}, {class: "form-select#{' is-invalid' if page.errors[:privacy].any?}"} %>
        <% if page.errors[:privacy].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:privacy].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="row mb-3">
        <%= form.label :published_at %>
        <%= form.datetime_field :published_at, min: (page.created_at&.beginning_of_day || Time.now.beginning_of_day), include_seconds: false, class: "form-control#{' is-invalid' if page.errors[:published_at].any?}" %>
        
        <% if page.errors[:published_at].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:published_at].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="row mb-3">
        <%= form.label :layout %>
        <%= form.select :layout, options_for_select(::BetterTogether::Page::PAGE_LAYOUTS), {}, { class: "form-select#{' is-invalid' if page.errors[:layout].any?}" } %>
        <% if page.errors[:layout].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:layout].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="row mb-3">
        <%= form.label :template %>
        <%= form.text_field :template, class: "form-control#{' is-invalid' if page.errors[:template].any?}" %>
        <% if page.errors[:template].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:template].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="row mb-3">
        <%= form.label :meta_description %>
        <%= form.text_area :meta_description, class: "form-control#{' is-invalid' if page.errors[:meta_description].any?}" %>
        <% if page.errors[:meta_description].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:meta_description].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="row mb-3">
        <%= form.label :keywords %>
        <%= form.text_field :keywords, class: "form-control#{' is-invalid' if page.errors[:keywords].any?}" %>
        <% if page.errors[:keywords].any? %>
          <div class="invalid-feedback">
            <%= page.errors[:keywords].join(", ") %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-xs-12 col-md-8 col-lg-9 px-4">
      <div class="row mb-3">
        <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: page, form: form, attribute: 'content' } %>
      </div>
      <div class="row">
        <h2>Blocks</h2>

        <div id="blocks-list" data-controller="page-blocks" data-page-blocks-target="blocks">
          <!-- Render existing PageBlocks -->
          <%= render partial: 'better_together/content/page_blocks/form_fields', collection: page.page_blocks, as: :page_block %>


          <!-- Button to add a new block -->
          <%# button_tag "Add Block", type: 'button', data: { action: "page-blocks#addBlock" }, class: 'btn btn-success mt-3' %>

        </div>


          <!-- Button to add a new block -->
          <%= link_to "Add Block", new_page_page_block_path(page), class: 'btn btn-success mt-3', data: { turbo_stream: true } %>

        
      </div>
    </div>
  </div>
<% end %>

<!-- Hidden template to dynamically add new blocks -->
<template id="page-block-template">
  <div class="block-fields my-3">
    <!-- Hidden field for PageBlock ID -->
    <%= hidden_field_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][id]' %>

    <!-- Position field -->
    <%= label_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][position]', "Block Position" %>
    <%= number_field_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][position]' %>

    <!-- Nested Block fields -->
    <div class="block">
      <!-- Hidden field for Block ID -->
      <%= hidden_field_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][block_attributes][id]' %>

      <!-- Block fields -->

      <%= label_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][block_attributes][content]', "Block Content", class: 'form-label' %>
      <%= rich_text_area_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][block_attributes][content]', nil, class: 'form-control', data: { controller: 'trix' } %>
    </div>

    <!-- Hidden destroy field -->
    <%= hidden_field_tag 'page[page_blocks_attributes][NEW_BLOCK_INDEX][_destroy]', false %>

    <!-- Button to remove the block dynamically -->
    <%= button_tag "Remove Block", data: { action: "page-blocks#removeBlock" }, class: 'btn btn-danger mt-3' %>
  </div>
</template>
