<div id="<%= dom_id(page) %>" class="col col-md-4 page-column mb-3 <%= dom_class(page) %>">
  <div class="card page h-100 shadow-sm border-0">
    <% if policy(page).show? %>
      <%= link_to render_page_path(page) do %>
        <% if page.primary_image&.attached? %>
          <%= image_tag rails_storage_proxy_url(page.primary_image), class: "card-img-top", alt: "#{page.title}" %>
        <% else %>
          <%= card_image_tag(page) %>
        <% end %>
      <% end %>
    <% else %>
      <% if page.primary_image&.attached? %>
        <%= image_tag rails_storage_proxy_url(page.primary_image), class: "card-img-top", alt: "#{page.title}" %>
      <% else %>
        <%= card_image_tag(page) %>
      <% end %>
    <% end %>
    <div class="card-body d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title mb-1">
          <% if policy(page).show? %>
            <%= link_to page, render_page_path(page), class: 'text-primary text-decoration-none' %>
          <% else %>
            <%= page %>
          <% end %>
        </h5>
        <p class="card-text">
          <%= page.slug %>
        </p>
      </div>
    </div>
  </div>
</div>
