<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1><%= resource_class.model_name.human.pluralize %></h1>

  <% if policy(::BetterTogether::Page).create? %>
    <%= link_to 'New Page', new_page_path, class: 'btn btn-primary' %>
  <% end %>

  <div class="row">
    <div class="col table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>URL</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @pages.each do |page| %>
            <%= render 'page', page: page %>
          <% end %>
        </tbody>
      </table>
      <% if policy(::BetterTogether::Page).create? %>
        <%= link_to 'New Page', new_page_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
