<% content_for :page_title do %>
  <%= @page.title %>
<% end %>

<% content_for :editor_status do %>
  <% if permitted_to?('manage_platform') %>
    <% if policy(@page).index? %>
      <li class="nav-item record-list" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= t('globals.back_to_list') %>">
        <%= link_to pages_path, class: 'nav-link' do %>
          <i class="fas fa-list"></i>
        <% end %>
      </li>
    <% end %>
    <% if policy(@page).update? %>
      <li class="nav-item edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= t('globals.edit') %>">
        <%= link_to edit_page_path(@page, locale: I18n.locale), class: 'nav-link', target: "_#{dom_id(@page, 'edit')}" do %>
          <i class="fas fa-pencil"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :page_content do %>
  <%= render @content_blocks if @content_blocks.size > 0 %>
<% end %>

<%= render layout: @layout do %>
  <% if @page.template.present? && @content_blocks.size > 0 %>
    <%= render template: @page.template %>
  <% else %>
    <%= render @page.hero_block if @page.hero_block %>
    <% if @page.sidebar_nav.present? %>
      <%= render layout: 'better_together/pages/sidebar_layout', locals: { nav: @page.sidebar_nav, current_page: @page } do %>
        <%= yield :page_content %>
      <% end %>
    <% else %>
      <%= yield :page_content %>
    <% end %>

    <%= share_buttons(shareable: @page) if @page.privacy_public? %>
  <% end %>
<% end %>
