<% content_for :page_title do %>
  <%= @page.title %>
<% end %>

<% content_for :page_content do %>
  <%= render @page.blocks if @page.blocks.any? %>

  <% if params[:path].blank? %>
    <% content_for :page_title do %>
       | Pages
    <% end %>
    <div class="container mt-3">
      <% if policy(@page).update? %>
        <%= link_to 'Edit', edit_page_path(@page, locale: I18n.locale), class: 'btn btn-secondary' %>
      <% end %>
      <%= link_to t('globals.back_to_list'), pages_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<%= render layout: @layout do %>
  <% if @page.template.present? && @page.page_blocks.empty? %>
    <%= render template: @page.template %>
  <% else %>
    <%= yield :page_content %>
  <% end %>
<% end %>
