<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<%- temp_id = block.persisted? ? block.id : SecureRandom.uuid %>

<!-- Nested Block fields -->
<div id="<%= dom_id(block, temp_id) %>" class="block-fields <%= dom_class(block) %>">
  <!-- Hidden field for Block ID -->
  <%= hidden_field_tag "#{scope}[id]", block.id %>
  <%= hidden_field_tag "#{scope}[type]", block.class.name %>
  <%= hidden_field_tag "#{scope}[creator_id]", current_person&.id %>

  <!-- Identifier text field -->
  <div class="mb-3">
    <%= label_tag "#{scope}[identifier]", "Identifier" %>
    <%= text_field_tag "#{scope}[identifier]", block.identifier, class: "form-control#{' is-invalid' if block.errors[:identifier].any?}", maxlength: 100, placeholder: '(optional)' %>

    <% if block.errors[:identifier].any? %>
      <div class="invalid-feedback">
        <%= block.errors[:identifier].join(", ") %>
      </div>
    <% end %>
    <small class="form-text text-muted mt-2">You can enter an optional identifier to make it easier to identify the block later. Should be not contain spaces and should be under 100 characters.</small>
  </div>

  <%= render partial: 'better_together/content/blocks/fields/shared/style', locals: { block:, scope:, temp_id: } %>

  <!-- Render the block's specific fields -->
  <%= render partial: "better_together/content/blocks/fields/#{block.block_name}", locals: { block:, scope:, temp_id: } %>
</div>
