<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<%- temp_id = block.persisted? ? block.id : SecureRandom.uuid %>

<!-- Nested Block fields -->
<div id="<%= dom_id(block, temp_id) %>" class="block-fields <%= dom_class(block) %>">
  <!-- Hidden field for Block ID -->
  <%= hidden_field_tag "#{scope}[id]", block.id %>
  <%= hidden_field_tag "#{scope}[type]", block.class.name %>
  <%= hidden_field_tag "#{scope}[creator_id]", current_person&.id %>

  <!-- Identifier text field -->
  <div class="mb-3">
    <%= label_tag "#{scope}[identifier]", "Identifier" %>
    <%= text_field_tag "#{scope}[identifier]", block.identifier, class: "form-control#{' is-invalid' if block.errors[:identifier].any?}", maxlength: 100, placeholder: '(optional)' %>

    <% if block.errors[:identifier].any? %>
      <div class="invalid-feedback">
        <%= block.errors[:identifier].join(", ") %>
      </div>
    <% end %>
    <small class="form-text text-muted mt-2">You can enter an optional identifier to make it easier to identify the block later. Should be not contain spaces and should be under 100 characters.</small>
  </div>

  <!-- General Styling Options Accordion -->
  <div class="accordion mb-3" id="<%= dom_id(block, temp_id) %>-styles" data-controller="styling-indicator">
    <div class="accordion-item">
      <h2 class="accordion-header" id="<%= dom_id(block, temp_id) %>-styles-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= dom_id(block, temp_id) %>-styles-collapse" aria-expanded="false" aria-controls="<%= dom_id(block, temp_id) %>-styles-collapse">
          General Styling Options 
          <% if block.has_custom_styling? %>
           <i class="fas fa-check-circle text-success ms-2" aria_hidden="true" title="Translation available" data-styling-indicator-target="indicator"></i>
          <% end %>
        </button>
      </h2>
      <div id="<%= dom_id(block, temp_id) %>-styles-collapse" class="accordion-collapse collapse mb-3" aria-labelledby="<%= dom_id(block, temp_id) %>-styles-header" data-bs-parent="#<%= dom_id(block, temp_id) %>-styles">
        <div class="accordion-body">
          <div class="mb-3 row row-cols-1 row-cols-sm-2">
            <div class="mb-3">
              <%= label_tag "#{scope}[container_class]", "Container Class" %>
              <%= select_tag "#{scope}[container_class]", options_for_select(block.class::VALID_CONTAINER_CLASSES, block.container_class), include_blank: true, class: "form-select" %>
            </div>

            <div class="mb-3">
              <%= label_tag "#{scope}[css_classes]", "CSS Classes" %>
              <%= text_field_tag "#{scope}[css_classes]", block.css_classes, class: "form-control" %>
            </div>
          </div>

          <div class="mb-3 row row-cols-1 row-cols-sm-2">
            <!-- Height Field -->
            <div class="mb-3">
              <%= label_tag "#{scope}[height]", "Height" %>
              <%= text_field_tag "#{scope}[height]", block.height, class: "form-control", placeholder: "e.g., 100px, 50%, 100vh" %>
            </div>

            <!-- Max-Height Field -->
            <div class="mb-3">
              <%= label_tag "#{scope}[max_height]", "Max Height" %>
              <%= text_field_tag "#{scope}[max_height]", block.max_height, class: "form-control", placeholder: "e.g., 100px, 50%, 100vh" %>
            </div>
          </div>

          <div class="mb-3 row row-cols-1 row-cols-sm-2">
            <!-- Background Color -->
            <%= render partial: 'better_together/content/blocks/fields/shared/color_field', locals: { scope:, attribute: :background_color, label: 'Background Color', value: block.background_color } %>

            <!-- Text Color -->
            <%= render partial: 'better_together/content/blocks/fields/shared/color_field', locals: { scope:, attribute: :text_color, label: 'Text Color', value: block.text_color } %>
          </div>

          <!-- Margin -->
          <div class="mb-3">
            <h6>Margin</h6>
            <div class="row gx-2">
              <div class="col">
                <%= label_tag "#{scope}[margin_top]", "Top", class: "form-label" %>
                <%= text_field_tag "#{scope}[margin_top]", block.margin_top, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[margin_right]", "Right", class: "form-label" %>
                <%= text_field_tag "#{scope}[margin_right]", block.margin_right, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[margin_bottom]", "Bottom", class: "form-label" %>
                <%= text_field_tag "#{scope}[margin_bottom]", block.margin_bottom, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[margin_left]", "Left", class: "form-label" %>
                <%= text_field_tag "#{scope}[margin_left]", block.margin_left, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
            </div>
          </div>

          <!-- Padding -->
          <div class="mb-3">
            <h6>Padding</h6>
            <div class="row gx-2">
              <div class="col">
                <%= label_tag "#{scope}[padding_top]", "Top", class: "form-label" %>
                <%= text_field_tag "#{scope}[padding_top]", block.padding_top, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[padding_right]", "Right", class: "form-label" %>
                <%= text_field_tag "#{scope}[padding_right]", block.padding_right, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[padding_bottom]", "Bottom", class: "form-label" %>
                <%= text_field_tag "#{scope}[padding_bottom]", block.padding_bottom, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
              <div class="col">
                <%= label_tag "#{scope}[padding_left]", "Left", class: "form-label" %>
                <%= text_field_tag "#{scope}[padding_left]", block.padding_left, class: "form-control", placeholder: "e.g., 10px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


  <!-- Render the block's specific fields -->
  <%= render partial: "better_together/content/blocks/fields/#{block.block_name}", locals: { block:, scope:, temp_id: } %>
</div>
