
<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<div class="image-fields" data-controller="better_together--image-preview better_together--image-library">
  <%= label_tag do %>
    <%= block.class.human_attribute_name('media') %>
    <% if block.media.attached? %>
      : <%= block.media.filename %>
    <% end %>
  <% end %>
  <div class="input-group">
    <%= file_field_tag "#{scope}[media]", required: !block.media.attached?, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => "input", data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
    <%= button_tag 'Choose from library',
                        { type: 'button', class: 'btn btn-outline-secondary', data: { action: 'better_together--image-library#open' } } %>
    <%= hidden_field_tag "#{scope}[remove_media]", { value: '0' }, "data-better_together--image-preview-target" => "deleteField" %>
    <%= button_tag t('globals.clear'),
                        {
                          type: 'button',
                          class: 'btn btn-secondary',
                          data: {
                          'action' => "better_together--image-preview#toggleDelete",
                          'clear-value' => t('globals.clear'),
                          'undo-clear-value' => t('globals.undo_clear'),
                          'no-image-value' => t('globals.no_image')
                          },
                          "data-better_together--image-preview-target" => "deleteButton",
                        } %>
  </div>
  <%= hidden_field_tag "#{scope}[media_signed_id]", nil, "data-better_together--image-library-target" => 'signedIdField' %>
  <!-- Image preview container (empty initially) -->
  <div class="my-3 text-center" data-better_together--image-preview-target="preview" data-url="<%= block.media.url if block.media.attached? %>">
    <!-- The image preview will be dynamically inserted here -->
  </div>

  <div class="modal fade" tabindex="-1" data-better_together--image-library-target="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose from library</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2">
            <% BetterTogether::Upload.with_creator(current_person).each do |upload| %>
              <% next unless upload.content_type.start_with?('image/') %>
              <div class="col-3">
                <%= image_tag upload.url, class: 'img-fluid', data: { action: 'click->better_together--image-library#select', signed_id: upload.file.blob.signed_id, url: upload.url } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 align-items-end">
    <div class="col mb-3 pb-3 border-bottom">
      <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field', locals: { model: block, attribute: 'alt_text', scope: } %>
    </div>
    <div class="col mb-3 pb-3 border-bottom">
      <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field', locals: { model: block, attribute: 'caption', scope: } %>
    </div>
    <div class="col mb-3 pb-3 border-bottom">
      <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field', locals: { model: block, attribute: 'attribution', scope: } %>
    </div>
    <div class="col mb-3 pb-3 border-bottom">
      <%= label_tag "#{scope}[attribution_url]", block.class.human_attribute_name('attribution_url') %>
      <%= url_field_tag "#{scope}[attribution_url]", block.attribution_url, class: 'form-control' %>
      <div class="invalid-feedback">
        Please provide a valid url starting with http:// or https://.
      </div>
    </div>
  </div>
</div>
