<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <% representation = blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768]) %>
    <% image_src = BetterTogether::Engine.routes.url_helpers.content_security_blob_representation_proxy_path(
      representation.blob.signed_id(expires_in: ActiveStorage.urls_expire_in),
      representation.variation.key,
      representation.blob.filename
    ) %>
    <%= image_tag image_src %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
  </figcaption>
</figure>
