<% content_for :page_title do %>
  <%= t('globals.edit') %> <%= @category %> | <%= resource_class.model_name.human %>
<% end %>

<div class="container my-3">
  <h1 class="mb-4"><%= t('globals.edit') %> <%= @category %> <%= resource_class.model_name.human %></h1>

  <%= render "form", category: @category %>
</div>
