
<% content_for :page_title do %>
  <%= @category %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1 class="mb-4"><%= @category %></h1>

  <%= render partial: 'better_together/categories/category', object: @category %>

  <div class="mt-3">
    <% if policy(resource_class).index? %>
      <%= link_to t('better_together.categories.back_to_categories'), categories_path, class: 'btn btn-sm btn-outline-secondary' %>
    <% end %>
    <%= render 'shared/resource_toolbar',
               edit_path: policy(@resource).edit? ? edit_category_path(@resource) : nil,
               edit_aria_label: 'Edit Partner',
               destroy_path: policy(@resource).destroy? ? category_path(@resource) : nil,
               destroy_confirm: t('globals.confirm_delete'),
               destroy_aria_label: 'Delete Record' %>
  </div>
</div>
