<!-- app/views/better_together/navigation_items/_form.html.erb -->

<%= content_tag :div, id: 'navigation_item_form' do %>
  <%= form_with(model: [@navigation_area, @navigation_item], local: false, class: 'form', data: { turbo: false, controller: "better_together--form-validation better_together--dependent-fields" }) do |form| %>
    <% content_for :action_toolbar do %>
      <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <%= link_to t('globals.back_to_list'), navigation_area_navigation_items_path(navigation_area), class: 'btn btn-secondary' %>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Third group">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <%= yield :action_toolbar %>

    <div id="form_errors">
      <% if @navigation_item.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@navigation_item.errors.count, "error") %> prohibited this navigation item from being saved:</h4>
          <ul>
            <% @navigation_item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <%= form.hidden_field :navigation_area_id, value: @navigation_area.id %>

    <%= form_field form, :parent_id, label: t('better_together.navigation_items.form.parent_item'), input_class: 'form-select' do |input_class| %>
      <%= form.collection_select :parent_id, available_parent_items, :id, :select_option_title, { include_blank: true }, { class: input_class, data: { controller: "better_together--slim-select" } } %>
    <% end %>

    <%= form_field form, :item_type, input_class: 'form-select' do |input_class| %>
      <%= form.select :item_type, options_for_select(['link', 'dropdown', 'separator'], @navigation_item.item_type), { include_blank: true }, { class: input_class } %>
    <% end %>

    <!-- Control field for linkable_id -->
    <div id="nav-item-linkable" class="bt-mb-3" data-better_together--dependent-fields-target="dependentField" data-dependent-fields-control="navigation_item_route_name" data-show-if-control_navigation_item_route_name="*not_present*">
      <%= form_field form, :linkable_id, label: t('better_together.navigation_items.form.link_to_page'), input_class: 'form-select', wrapper_class: nil do |input_class| %>
        <%= form.collection_select :linkable_id, @pages, :id, :select_option_title, { include_blank: true }, { id: 'navigation_item_linkable_id', class: input_class, data: { controller: "better_together--slim-select" }, 'data-better_together--dependent-fields-target' => "controlField" } %>
      <% end %>
    </div>

    <!-- Dependent field 1 (shown when no value is present) -->
    <div id="nav-item-title" class="bt-mb-3" data-better_together--dependent-fields-target="dependentField" data-dependent-fields-control="navigation_item_linkable_id" data-show-if-control_navigation_item_linkable_id="*not_present*">
      <%= render partial: 'better_together/shared/translated_string_field', locals: { model: navigation_item, form: form, attribute: 'title' } %>
      <small class="form-text text-muted mt-2"><%= t('better_together.navigation_items.form.enter_nav_item_title') %></small> <!-- Help text added here -->
    </div>

    <!-- Dependent field 2 (shown when no value is present) -->
    <div id="nav-item-route-name" class="bt-mb-3" data-better_together--dependent-fields-target="dependentField" data-dependent-fields-control="navigation_item_linkable_id" data-show-if-control_navigation_item_linkable_id="*not_present*">
      <%= form.label :route_name, t('better_together.navigation_items.form.dynamic_route') %>
      <%= form.select :route_name, route_names_for_select(@navigation_item), { include_blank: true }, { id: 'navigation_item_route_name', class: 'form-select', 'data-better_together--dependent-fields-target' => "controlField", data: { controller: "better_together--slim-select" } } %>
      <% if @navigation_item.errors[:linkable_id].any? %>
        <div class="invalid-feedback">
          <%= @navigation_item.errors[:linkable_id].join(", ") %>
        </div>
      <% end %>
    </div>

    <!-- Dependent field for url, shown when both linkable_id and route_name are not present -->
    <div id="nav-item-url" class="bt-mb-3 url-field" data-better_together--dependent-fields-target="dependentField" data-dependent-fields-control="navigation_item_linkable_id navigation_item_route_name" data-show-if-control_navigation_item_linkable_id="*not_present*" data-show-if-control_navigation_item_route_name="*not_present*">
      <%= form_field form, :url, method: :text_field, input_class: 'form-control', wrapper_class: nil %>
    </div>

    <%= form_field form, :position, method: :number_field, input_class: 'form-control' %>

    <%= form_field form, :visible, method: :check_box, input_class: 'form-check-input' %>

    <%= yield :action_toolbar %>
  <% end %>

<% end %>
