<!-- app/views/better_together/navigation_items/_navigation_items_table.html.erb -->

<table class="table mt-3">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Linked Record</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% navigation_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.url %></td>
        <td><%= item.linkable&.title %></td>
        <td><%= item.visible ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Show', navigation_area_navigation_item_path(navigation_area, item), class: 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_navigation_area_navigation_item_path(navigation_area, item), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', navigation_area_navigation_item_path(navigation_area, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
