
<%# locals: (item:, navigation_area: item.navigation_area, level: 0) %>

<tr id="<%= dom_id(item) %>" class="<%= dom_class(item) %> navigation-item <%='parent-item' if item.children.any? %> <%='child-item' if item.child? %>">
  <td class="title">
    <% if item.child? %>
      <i class="fas fa-arrow-turn-up fa-rotate-90 me-2"></i>
    <% end %>
    <%= link_to item.title, navigation_area_navigation_item_path(navigation_area.slug, item.slug), class: 'text-decoration-none' %>
  </td>
  <td><%= item.item_type %></td>
  <td class="overflow-hidden"><%= link_to sanitize_url(item.url), sanitize_url(item.url) %></td>
  <td><%= item.linkable ? link_to(item.linkable) : t('globals.none') %></td>
  <td><%= item.visible ? t('globals.yes') : t('globals.no') %></td>
  <td class="text-end">
    <% if item.dropdown? %>
      <%= link_to new_navigation_area_navigation_item_path(navigation_area.slug, parent_id: item.slug), class: 'btn btn-outline-primary btn-sm me-1', 'aria-label' => t('globals.add_child_item') do %>
        <i class="fas fa-plus"></i> <%= t('globals.add_child_item') %>
      <% end %>
    <% end %>
    <%= link_to edit_navigation_area_navigation_item_path(navigation_area.slug, item.slug), class: 'btn btn-outline-secondary btn-sm me-1', 'aria-label' => t('globals.edit') do %>
      <i class="fas fa-edit"></i> <%= t('globals.edit') %>
    <% end %>
    <%= link_to navigation_area_navigation_item_path(navigation_area.slug, item.slug), data: { turbo_confirm: t('globals.confirm_delete'), turbo_method: :delete }, class: 'btn btn-outline-danger btn-sm', 'aria-label' => t('globals.destroy') do %>
      <i class="fas fa-trash-alt"></i> <%= t('globals.destroy') %>
    <% end %>
  </td>
</tr>
<% if item.dropdown? && item.children? %>
  <%= render partial: 'better_together/navigation_items/nav_item_children_row',
             locals: { item:, level: (level += 1) } %>
<% end %>
