
<%# locals: (navigation_items:) %>

<table class="table table-striped table-hover mt-3 nav-items-table">
  <thead>
    <tr>
      <th><%= resource_class.human_attribute_name(:title) %></th>
      <th><%= resource_class.human_attribute_name(:item_type) %></th>
      <th><%= resource_class.human_attribute_name(:url) %></th>
      <th><%= resource_class.human_attribute_name(:linkable) %></th>
      <th><%= resource_class.human_attribute_name(:visible) %></th>
      <th class="text-end"><%= t('globals.actions') %></th>
    </tr>
  </thead>
  <tbody id="navigation_items">
    <%= render partial: 'better_together/navigation_items/navigation_item_row',
               collection: navigation_items,
               as: :item
    %>
  </tbody>
</table>
