<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= resource_class.model_name.human.pluralize %></h1>
    <% if policy(resource_class).create? %>
      <%= link_to new_joatu_request_path, class: 'btn btn-primary', 'aria-label' => 'Add Request' do %>
        <i class="fas fa-plus"></i> <%= t('better_together.joatu.requests.new_request', default: 'New Request') %>
      <% end %>
    <% end %>
  </div>

  <ul id="requests" class="list-unstyled">
    <% @requests.each do |request| %>
      <li><%= link_to request.name, request %></li>
    <% end %>
  </ul>
</div>
