<% content_for :page_title do %>
  <%= @post %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1 class="mb-4"><%= @post.title %></h1>

  <div class="mb-3">
    <%= simple_format(@post.content) %>
  </div>

  <div class="mt-3">
    <% if policy(resource_class).index? %>
      <%= link_to t('better_together.posts.back_to_posts', default: 'Back to Posts'), posts_path, class: 'btn btn-sm btn-outline-secondary' %>
    <% end %>
    <%= render 'shared/resource_toolbar',
               edit_path: policy(@post).edit? ? edit_post_path(@post) : nil,
               edit_aria_label: 'Edit Post',
               destroy_path: policy(@post).destroy? ? post_path(@post) : nil,
               destroy_confirm: t('globals.confirm_delete'),
               destroy_aria_label: 'Delete Record' %>
  </div>
</div>
