<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title do %>
    <%= t('host_dashboard.index.page_title') %>
  <% end %>

  <div class="container my-3">
    <h1><%= t('host_dashboard.index.title') %></h1>

    <!-- Custom section for the host app. See docs/host_dashboard_extensions.md for details. -->
    <%= render partial: 'host_app_resources' %>

    <!-- Better Together Resources Section -->
    <div class="better-together-resources mt-4">
      <h2><%= t('host_dashboard.index.better_together') %></h2>
      <div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <!-- Communities -->
        <%= render partial: 'resource_card', locals: { collection: @communities, count: @community_count, url_helper: :community_path } %>

        <!-- Navigation Areas -->
        <%= render partial: 'resource_card', locals: { collection: @navigation_areas, count: @navigation_area_count, url_helper: :navigation_area_path } %>

        <!-- Pages -->
        <%= render partial: 'resource_card', locals: { collection: @pages, count: @page_count, url_helper: :page_path } %>

        <!-- Platforms -->
        <%= render partial: 'resource_card', locals: { collection: @platforms, count: @platform_count, url_helper: :platform_path } %>

        <!-- People -->
        <%= render partial: 'resource_card', locals: { collection: @people, count: @person_count, url_helper: :person_path } %>

        <!-- Roles -->
        <%= render partial: 'resource_card', locals: { collection: @roles, count: @role_count, url_helper: :role_path } %>

        <!-- Resource Permissions -->
        <%= render partial: 'resource_card', locals: { collection: @resource_permissions, count: @resource_permission_count, url_helper: :resource_permission_path } %>

        <!-- Users -->
        <%= render partial: 'resource_card', locals: { collection: @users, count: @user_count, url_helper: :user_path } %>
        <%= render partial: 'resource_card', locals: { collection: @conversations, count: @conversation_count, url_helper: :conversation_path, show_attr: :id } %>
        <%= render partial: 'resource_card', locals: { collection: @messages, count: @message_count, url_helper: :message_path } %>
        <%= render partial: 'resource_card', locals: { collection: @categories, count: @category_count, url_helper: :category_path } %>
      </div>

      <div id="engagement-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.engagement') %></h3>
        </div>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Post,
                     collection: @engagement_posts,
                     count: @engagement_post_count,
                     url_helper: :post_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Comment,
                     collection: @engagement_comments,
                     count: @engagement_comment_count,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::CallForInterest,
                     collection: @engagement_call_for_interests,
                     count: @engagement_call_for_interest_count,
                     url_helper: :call_for_interest_path
                   } %>
      </div>

      <div id="exchange-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.exchange') %></h3>
        </div>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Joatu::Offer,
                     collection: @exchange_offers,
                     count: @exchange_offer_count,
                     url_helper: :joatu_offer_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Joatu::Request,
                     collection: @exchange_requests,
                     count: @exchange_request_count,
                     url_helper: :joatu_request_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Joatu::Agreement,
                     collection: @exchange_agreements,
                     count: @exchange_agreement_count,
                     url_helper: :joatu_agreement_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Joatu::Category,
                     collection: @exchange_categories,
                     count: @exchange_category_count,
                     url_helper: :joatu_category_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Joatu::ResponseLink,
                     collection: @exchange_response_links,
                     count: @exchange_response_link_count,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
      </div>

      <div id="events-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.events') %></h3>
        </div>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Event,
                     collection: @events,
                     count: @event_count,
                     url_helper: :event_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::EventInvitation,
                     collection: @event_invitations,
                     count: @event_invitation_count,
                     url_helper: :invitation_path,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::EventAttendance,
                     collection: @event_attendances,
                     count: @event_attendance_count,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Calendar,
                     collection: @calendars,
                     count: @calendar_count,
                     url_helper: :calendar_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::CalendarEntry,
                     collection: @calendar_entries,
                     count: @calendar_entry_count,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
      </div>

      <div id="infrastructure-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.infrastructure') %></h3>
        </div>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Infrastructure::Building,
                     collection: @infrastructure_buildings,
                     count: @infrastructure_building_count,
                     show_attr: :name,
                     link_index: false,
                     link_resources: false
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Infrastructure::Floor,
                     collection: @infrastructure_floors,
                     count: @infrastructure_floor_count,
                     show_attr: :name,
                     link_index: false,
                     link_resources: false
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Infrastructure::Room,
                     collection: @infrastructure_rooms,
                     count: @infrastructure_room_count,
                     show_attr: :name,
                     link_index: false,
                     link_resources: false
                   } %>
      </div>

      <div id="content-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.content') %></h3>
        </div>
        <%= render partial: 'resource_card', locals: { model_class: ::BetterTogether::Content::Block, collection: @content_blocks, count: @content_block_count, url_helper: :content_block_path } %>
        <div class="col-12">
          <h4 class="mt-2"><%= t('host_dashboard.index.content_block_types') %></h4>
        </div>
        <% @content_block_type_cards.each do |card| %>
          <%= render partial: 'resource_card', locals: card %>
        <% end %>
      </div>

      <div id="geography-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.geography') %></h3>
        </div>
        <%= render partial: 'resource_card', locals: {collection: @geography_continents, count: @geography_continent_count, url_helper: :geography_continent_path } %>
        <%= render partial: 'resource_card', locals: {collection: @geography_countries, count: @geography_country_count, url_helper: :geography_country_path } %>
        <%= render partial: 'resource_card', locals: {collection: @geography_states, count: @geography_state_count, url_helper: :geography_state_path } %>
        <%= render partial: 'resource_card', locals: {collection: @geography_regions, count: @geography_region_count, url_helper: :geography_region_path } %>
        <%= render partial: 'resource_card', locals: {collection: @geography_settlements, count: @geography_settlement_count, url_helper: :geography_settlement_path } %>
      </div>

      <div id="geography-mapping-section" class="row mt-3">
        <div class="col-12">
          <h3><%= t('host_dashboard.index.geography_mapping') %></h3>
        </div>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Geography::Map,
                     collection: @geography_maps,
                     count: @geography_map_count,
                     url_helper: :geography_map_path
                   } %>
        <%= render partial: 'resource_card',
                   locals: {
                     model_class: BetterTogether::Geography::Space,
                     collection: @geography_spaces,
                     count: @geography_space_count,
                     show_attr: :id,
                     link_index: false,
                     link_resources: false
                   } %>
      </div>
    </div>
  </div>
<% end %>
