<% content_for :page_title do %>
  <%= t('host_dashboard.index.page_title') %>
<% end %>

<div class="container my-3">
  <h1><%= t('host_dashboard.index.title') %></h1>

  <!-- Custom section for the host app. See docs/host_dashboard_extensions.md for details. -->
  <%= render partial: 'host_app_resources' %>

  <!-- Better Together Resources Section -->
  <div class="better-together-resources mt-4">
    <h2><%= t('host_dashboard.index.better_together') %></h2>
    <div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
      <% @root_resources.each do |resource| %>
        <%= render partial: 'resource_card', locals: resource %>
      <% end %>
    </div>

    <div id="content-section" class="row mt-3">
      <div class="col-12">
        <h3><%= t('host_dashboard.index.content') %></h3>
      </div>
      <% @content_resources.each do |resource| %>
        <%= render partial: 'resource_card', locals: resource %>
      <% end %>
    </div>

    <div id="geography-section" class="row mt-3">
      <div class="col-12">
        <h3><%= t('host_dashboard.index.geography') %></h3>
      </div>
      <% @geography_resources.each do |resource| %>
        <%= render partial: 'resource_card', locals: resource %>
      <% end %>
    </div>
  </div>
</div>
