<div class="container my-3">
  <h1>Block Details: <%= @block %></h1>
  <div class="card">
    <div class="card-header">
      <%= render partial: 'associated_pages', locals: { block: @block } %>
    </div>
    <div class="card-body">
      <%= render @block %>
    </div>
    <div class="card-footer text-end">
      <%= link_to 'Back to Block List', content_blocks_path, class: 'btn btn-secondary me-2' %>
      <%= link_to 'Edit Block', edit_content_block_path(@block), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
