<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h1><%= @agreement.title %></h1>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Description:</strong> <%= @agreement.description %></p>
      <p class="card-text"><strong>Creator:</strong> <%= @agreement.creator %></p>
      <p class="card-text"><strong>Privacy:</strong> <%= @agreement.privacy %></p>
      <%= link_to 'Edit', edit_agreement_path(@agreement), class: 'btn btn-primary mt-3' %>
    </div>
  </div>
</div>
