<div id="<%= dom_id authorization %>">
  <p>
    <strong>Provider:</strong>
    <%= authorization.provider %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= authorization.uid %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= authorization.token %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= authorization.secret %>
  </p>

  <p>
    <strong>Profile url:</strong>
    <%= authorization.profile_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= authorization.user_id %>
  </p>

</div>
