<% content_for :page_title do %>
  <%= t('globals.new') %> <%= resource_class.model_name.human %>
<% end %>

<%= render 'better_together/joatu/shared/exchange_nav' %>

<div class="container my-3">
  <h1 class="mb-4"><%= t('globals.new') %> <%= resource_class.model_name.human %></h1>

  <%= render 'better_together/joatu/categories/form', category: @joatu_category %>
</div>
