<!-- Downloads Tab Pane -->
<div class="tab-pane fade nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:downloads][:accent] %>" id="downloads" role="tabpanel" aria-labelledby="downloads-tab" data-controller="better_together--metrics-charts">
  <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:downloads][:accent] %>">
    <i class="<%= metrics_tab_styles[:downloads][:icon] %> bt-tab-icon" aria-hidden="true"></i>
    <span><%= t('better_together.metrics.reports.tabs.downloads') %></span>
  </h2>

  <div class="metrics-chart-block">
    <h2><%= t('better_together.metrics.reports.charts.downloads_by_file') %></h2>
    <canvas class="metrics-chart"
            data-better_together--metrics-charts-target="downloadsChart"
            data-chart-data="<%= {labels: [], values: []}.to_json %>">
    </canvas>

    <%= render 'datetime_filter',
        chart_type: 'downloadsChart',
        data_url: downloads_by_file_data_metrics_reports_path,
        min_date: @min_dates[:downloads] %>
  </div>
</div>
