<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title, 'Metrics Reports' %>

  <div class="container-fluid my-3" data-controller="better_together--tabs">
    <h1>Metrics Reports</h1>

    <!-- Main Nav Tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link disabled"
                type="button"
                role="tab"
                aria-disabled="true">
          <%= t('better_together.metrics.reports.tabs.metrics_types', default: 'Metrics types') %>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:pageviews][:accent] %> active" id="pageviews-tab" data-bs-toggle="tab" data-bs-target="#pageviews" href="#pageviews" role="tab" aria-controls="pageviews" aria-selected="true" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:pageviews][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Page Views</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:linkclicks][:accent] %>" id="linkclicks-tab" data-bs-toggle="tab" data-bs-target="#linkclicks" href="#linkclicks" role="tab" aria-controls="linkclicks" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:linkclicks][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Link Clicks</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:downloads][:accent] %>" id="downloads-tab" data-bs-toggle="tab" data-bs-target="#downloads" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:downloads][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Downloads</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:shares][:accent] %>" id="shares-tab" data-bs-toggle="tab" data-bs-target="#shares" href="#shares" role="tab" aria-controls="shares" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:shares][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Shares</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:linkchecker][:accent] %>" id="linkchecker-tab" data-bs-toggle="tab" data-bs-target="#linkchecker" href="#linkchecker" role="tab" aria-controls="linkchecker" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:linkchecker][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Link Checker</span>
        </a>
      </li>
    </ul>

    <!-- Main Tab Panes -->
    <div class="tab-content mt-3">
      <%= render 'page_views_contents' %>
      <%= render 'link_clicks_contents' %>
      <%= render 'downloads_contents' %>
      <%= render 'shares_contents' %>
      <%= render 'link_checker_contents' %>
    </div>
  </div>
<% end %>
