<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title, 'Metrics Reports' %>

  <div class="container-fluid my-3" data-controller="better_together--metrics-charts better_together--tabs">
    <h1>Metrics Reports</h1>

    <% metrics_tab_styles = {
      pageviews: { icon: 'fas fa-chart-line', accent: 'bt-tab-accent--primary' },
      linkclicks: { icon: 'fas fa-mouse-pointer', accent: 'bt-tab-accent--success' },
      downloads: { icon: 'fas fa-download', accent: 'bt-tab-accent--neutral' },
      shares: { icon: 'fas fa-share-alt', accent: 'bt-tab-accent--warning' },
      linkchecker: { icon: 'fas fa-link', accent: 'bt-tab-accent--danger' }
    } %>

    <!-- Main Nav Tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link disabled"
                type="button"
                role="tab"
                aria-disabled="true">
          <%= t('better_together.metrics.reports.tabs.metrics_types', default: 'Metrics types') %>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:pageviews][:accent] %> active" id="pageviews-tab" data-bs-toggle="tab" data-bs-target="#pageviews" href="#pageviews" role="tab" aria-controls="pageviews" aria-selected="true" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:pageviews][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Page Views</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:linkclicks][:accent] %>" id="linkclicks-tab" data-bs-toggle="tab" data-bs-target="#linkclicks" href="#linkclicks" role="tab" aria-controls="linkclicks" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:linkclicks][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Link Clicks</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:downloads][:accent] %>" id="downloads-tab" data-bs-toggle="tab" data-bs-target="#downloads" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:downloads][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Downloads</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:shares][:accent] %>" id="shares-tab" data-bs-toggle="tab" data-bs-target="#shares" href="#shares" role="tab" aria-controls="shares" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:shares][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Shares</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bt-tab-control <%= metrics_tab_styles[:linkchecker][:accent] %>" id="linkchecker-tab" data-bs-toggle="tab" data-bs-target="#linkchecker" href="#linkchecker" role="tab" aria-controls="linkchecker" aria-selected="false" data-better_together--tabs-target="tab">
          <i class="<%= metrics_tab_styles[:linkchecker][:icon] %> bt-tab-icon" aria-hidden="true"></i>
          <span>Link Checker</span>
        </a>
      </li>
    </ul>

    <!-- Main Tab Panes -->
    <div class="tab-content mt-3">
    <!-- Page Views Tab Pane -->
  <div class="tab-pane fade show active nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:pageviews][:accent] %>" id="pageviews" role="tabpanel" aria-labelledby="pageviews-tab">
      <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:pageviews][:accent] %>">
        <i class="<%= metrics_tab_styles[:pageviews][:icon] %> bt-tab-icon" aria-hidden="true"></i>
        <span>Page Views</span>
      </h2>
      <div data-controller="better_together--tabs">
        <ul class="nav nav-tabs mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link disabled"
                    type="button"
                    role="tab"
                    aria-disabled="true">
              <%= t('better_together.metrics.reports.tabs.charts_and_reports') %>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral active"
                    id="pageviews-charts-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#pageviews-charts"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="pageviews-charts"
                    aria-selected="true">
              <span><%= t('better_together.metrics.reports.tabs.charts') %></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral"
                    id="pageviews-reports-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#pageviews-reports"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="pageviews-reports"
                    aria-selected="false">
              <span><%= t('better_together.metrics.reports.tabs.reports') %></span>
            </button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="pageviews-charts"
               role="tabpanel"
               aria-labelledby="pageviews-charts-tab">
            <h2>Page Views by Page</h2>
            <canvas class="metrics-chart" 
                    data-better_together--metrics-charts-target="pageViewsChart" 
                    data-chart-data="<%= { labels: @page_views_by_url.keys, values: @page_views_by_url.values }.to_json %>">
            </canvas>

            <h2>Daily Page Views</h2>
            <canvas class="metrics-chart" 
                    data-better_together--metrics-charts-target="dailyPageViewsChart" 
                    data-chart-data="<%= { labels: @page_views_daily.keys.map(&:to_s), values: @page_views_daily.values }.to_json %>">
            </canvas>
          </div>
          <div class="tab-pane fade bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="pageviews-reports"
               role="tabpanel"
               aria-labelledby="pageviews-reports-tab">
            <turbo-frame id="page_view_reports" src="<%= metrics_page_view_reports_path %>"></turbo-frame>
          </div>
        </div>
      </div>
    </div>

    <!-- Link Clicks Tab Pane -->
  <div class="tab-pane fade nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:linkclicks][:accent] %>" id="linkclicks" role="tabpanel" aria-labelledby="linkclicks-tab">
      <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:linkclicks][:accent] %>">
        <i class="<%= metrics_tab_styles[:linkclicks][:icon] %> bt-tab-icon" aria-hidden="true"></i>
        <span>Link Clicks</span>
      </h2>
      <div data-controller="better_together--tabs">
        <ul class="nav nav-tabs mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link disabled"
                    type="button"
                    role="tab"
                    aria-disabled="true">
              <%= t('better_together.metrics.reports.tabs.charts_and_reports') %>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral active"
                    id="linkclicks-charts-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#linkclicks-charts"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="linkclicks-charts"
                    aria-selected="true">
              <span><%= t('better_together.metrics.reports.tabs.charts') %></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral"
                    id="linkclicks-reports-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#linkclicks-reports"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="linkclicks-reports"
                    aria-selected="false">
              <span><%= t('better_together.metrics.reports.tabs.reports') %></span>
            </button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="linkclicks-charts"
               role="tabpanel"
               aria-labelledby="linkclicks-charts-tab">
            <h2>Link Clicks by URL</h2>
            <canvas class="metrics-chart" 
                    data-better_together--metrics-charts-target="linkClicksChart" 
                    data-chart-data="<%= { labels: @link_clicks_by_url.keys, values: @link_clicks_by_url.values }.to_json %>">
            </canvas>

            <h2>Daily Link Clicks</h2>
            <canvas class="metrics-chart" 
                    data-better_together--metrics-charts-target="dailyLinkClicksChart" 
                    data-chart-data="<%= { labels: @link_clicks_daily.keys.map(&:to_s), values: @link_clicks_daily.values }.to_json %>">
            </canvas>
          </div>
          <div class="tab-pane fade bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="linkclicks-reports"
               role="tabpanel"
               aria-labelledby="linkclicks-reports-tab">
            <turbo-frame id="link_click_reports" src="<%= metrics_link_click_reports_path %>"></turbo-frame>
          </div>
        </div>
      </div>
    </div>

    <!-- Downloads Tab Pane -->
  <div class="tab-pane fade nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:downloads][:accent] %>" id="downloads" role="tabpanel" aria-labelledby="downloads-tab">
      <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:downloads][:accent] %>">
        <i class="<%= metrics_tab_styles[:downloads][:icon] %> bt-tab-icon" aria-hidden="true"></i>
        <span>Downloads</span>
      </h2>
      <h2>Downloads by File</h2>
        <canvas class="metrics-chart" 
                data-better_together--metrics-charts-target="downloadsChart" 
                data-chart-data="<%= { labels: @downloads_by_file.keys, values: @downloads_by_file.values }.to_json %>">
        </canvas>
      </div>

    <!-- Shares Tab Pane -->
  <div class="tab-pane fade nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:shares][:accent] %>" id="shares" role="tabpanel" aria-labelledby="shares-tab">
      <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:shares][:accent] %>">
        <i class="<%= metrics_tab_styles[:shares][:icon] %> bt-tab-icon" aria-hidden="true"></i>
        <span>Shares</span>
      </h2>
      <h2>Shares by Platform</h2>
        <canvas class="metrics-chart" 
                data-better_together--metrics-charts-target="sharesChart" 
                data-chart-data="<%= { labels: @shares_by_platform.keys, values: @shares_by_platform.values }.to_json %>">
        </canvas>

        <h2>Shares per URL per Platform</h2>
        <canvas class="metrics-chart" 
                data-better_together--metrics-charts-target="sharesPerUrlPerPlatformChart" 
                data-chart-data="<%= @shares_data.to_json %>">
        </canvas>
      </div>

    <!-- Link Checker Tab Pane -->
  <div class="tab-pane fade nav-tab-pane bt-tab-pane bt-tab-pane--resource <%= metrics_tab_styles[:linkchecker][:accent] %>" id="linkchecker" role="tabpanel" aria-labelledby="linkchecker-tab">
      <h2 class="h5 my-3 bt-tab-heading <%= metrics_tab_styles[:linkchecker][:accent] %>">
        <i class="<%= metrics_tab_styles[:linkchecker][:icon] %> bt-tab-icon" aria-hidden="true"></i>
        <span>Link Checker</span>
      </h2>
      <div data-controller="better_together--tabs">
        <ul class="nav nav-tabs mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link disabled"
                    type="button"
                    role="tab"
                    aria-disabled="true">
              <%= t('better_together.metrics.reports.tabs.charts_and_reports') %>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral active"
                    id="linkchecker-charts-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#linkchecker-charts"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="linkchecker-charts"
                    aria-selected="true">
              <span><%= t('better_together.metrics.reports.tabs.charts') %></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link bt-tab-control bt-tab-accent--neutral"
                    id="linkchecker-reports-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#linkchecker-reports"
                    data-better_together--tabs-target="tab"
                    type="button"
                    role="tab"
                    aria-controls="linkchecker-reports"
                    aria-selected="false">
              <span><%= t('better_together.metrics.reports.tabs.reports') %></span>
            </button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="linkchecker-charts"
               role="tabpanel"
               aria-labelledby="linkchecker-charts-tab">
            <h2>Links by Host</h2>
            <canvas class="metrics-chart"
                    data-better_together--metrics-charts-target="linksByHostChart"
                    data-chart-data="<%= { labels: @links_by_host.keys, values: @links_by_host.values }.to_json %>">
            </canvas>

            <h2>Invalid Links by Host</h2>
            <canvas class="metrics-chart"
                    data-better_together--metrics-charts-target="invalidByHostChart"
                    data-chart-data="<%= { labels: @invalid_by_host.keys, values: @invalid_by_host.values }.to_json %>">
            </canvas>

            <h2>Invalid Links Over Time</h2>
            <canvas class="metrics-chart"
                    data-better_together--metrics-charts-target="failuresDailyChart"
                    data-chart-data="<%= { labels: @failures_daily.keys.map(&:to_s), values: @failures_daily.values }.to_json %>">
            </canvas>
          </div>

          <div class="tab-pane fade bt-tab-pane bt-tab-pane--action bt-tab-accent--neutral"
               id="linkchecker-reports"
               role="tabpanel"
               aria-labelledby="linkchecker-reports-tab">
            <turbo-frame id="link_checker_reports" src="<%= metrics_link_checker_reports_path %>"></turbo-frame>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>
