<% content_for :page_title do %>
  <%= t('.forgot_your_password') %>
<% end %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2><%= t('.forgot_your_password') %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'card card-body needs-validation', novalidate: true }, data: { controller: 'better_together--form-validation' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!-- Email Field -->
        <div class="mb-3">
          <%= f.label :email, t('.email.label'), class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          <small class="form-text text-muted"><%= t('.email.help') %></small>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>

          <!-- Additional Links -->
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>