
<%# locals: (form: ) %>
<div class="nested-fields my-3 row align-items-end" data-new-record="<%= form.object.new_record? %>">
  <%= form.hidden_field :_destroy %>
  <div class="col-md-3">
    <%= required_label form, :platform, class: "form-label" %>
    <%= form.select :platform, BetterTogether::SocialMediaAccount::PLATFORMS.map { |p| [p, p] }, { prompt: t('better_together.select'), required: true }, class: 'form-select' %>
  </div>
  <div class="col-md-3 mt-3 mt-md-0">
    <%= required_label form, :privacy, class: "form-label" %>
    <%= privacy_field(form:, klass: form.object.class) %>
  </div>
  <div class="col-md-4 mt-3 mt-md-0">
    <%= form.label form, :handle, class: "form-label" %>
    <%= form.text_field :handle, class: 'form-control' %>
  </div>
  <div class="col-md-2 mt-3 mt-md-0">
    <%= link_to '#remove-social-media-account', class: 'btn btn-outline-danger btn-sm', data: { action: 'click->better_together--dynamic-fields#remove' } do %>
      <i class="fas fa-minus"></i> <%= t('better_together.remove') %>
    <% end %>
  </div>
  <div class="col-md-12 form-group mt-3">
    <%= form.label :url, t('better_together.social_media_accounts.url') %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>
</div>
