<div id="<%= dom_id role %>">
  <p>
    <strong>Identifier:</strong>
    <%= role.identifier %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= role.description %>
  </p>

  <p>
    <strong>Resource class:</strong>
    <%= role.resource_class %>
  </p>

</div>
