<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1><%= resource_class.model_name.human.pluralize %></h1>

    <% if policy(resource_class).create? %>
      <%= link_to new_role_path, class: 'btn btn-primary' do %>
        <i class="fas fa-plus"></i> <%= t('.new_role') %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= resource_class.human_attribute_name(:identifier) %></th>
            <th><%= resource_class.human_attribute_name(:name) %></th>
            <th><%= resource_class.human_attribute_name(:description) %></th>
            <th><%= resource_class.human_attribute_name(:resource_type) %></th>
            <th><%= resource_class.human_attribute_name(:position) %></th>
            <th><%= resource_class.human_attribute_name(:protected) %></th>
            <th class="text-end"><%= t('globals.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'better_together/roles/role', collection: @roles, as: :role %>
        </tbody>
      </table>
    </div>
  </div>
</div>
