<div class="contactable-addresses row">
  <% addresses.each do |address| %>
    <div class="col-md-6 mb-3">
      <div class="card border-0 bg-transparent">
        <div class="card-body content px-0">
          <h6 class="card-title">
            <i class="fas fa-map-marker-alt"></i>
            <% if address.label.present? %>
              <%= address.display_label %>
            <% else %>
              <%= t('better_together.addresses.address') %>
            <% end %>

            <% if address.primary_flag? && addresses.size > 1 %>
              <span class="badge bg-primary"><%= t('better_together.primary') %></span>
            <% end %>
          </h6>
          <p class="card-text">
            <%= address.line1 %><br>
            <% if address.line2.present? %>
              <%= address.line2 %><br>
            <% end %>
            <%= [address.city_name, address.state_province_name].select(&:present?).join(', ') %> <%= address.postal_code %><br>
            <%= address.country_name %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
