<!-- app/views/better_together/checklists/show.html.erb -->

<% content_for :page_title do %>
  <%= @checklist.title.to_s %>
<% end %>

<div class="container my-3">
  <h1 class="mb-3"><%= @checklist.title %></h1>

  <div class="mb-3">
  <%= render 'shared/resource_toolbar',
         back_to_list_path: better_together.checklists_path(locale: I18n.locale),
         edit_path: (policy(@checklist).update? ? better_together.edit_checklist_path(@checklist, locale: I18n.locale) : nil),
         destroy_path: (policy(@checklist).destroy? ? better_together.checklist_path(@checklist, locale: I18n.locale) : nil),
         destroy_confirm: t('globals.are_you_sure') %>
  </div>

  <div>
  <% can_person = (defined?(current_person) && current_person.present?) %>
  <div data-controller="better_together--checklist-items<%= ' better_together--checklist-completion' if can_person %>" data-bt-debug="true" data-better_together--checklist-items-checklist-id-value="<%= @checklist.id %>" data-can-update="<%= policy(@checklist).update? ? 'true' : 'false' %>" <%= (can_person ? 'data-better_together--checklist-completion-checklist-id-value="' + @checklist.id.to_s + '" data-better_together--checklist-completion-message-value="' + j(t('better_together.checklists.show.completed_message', default: 'Checklist complete')) + '"' : '') %> class="card">
      <div class="card-body">
        <h5 class="mb-3"><%= t('better_together.checklists.show.items_title', default: 'Items') %></h5>

  <div data-better_together--checklist-completion-target="message"></div>

  <%= render partial: 'better_together/checklist_items/list', locals: { checklist: @checklist } %>

        <% if policy(BetterTogether::ChecklistItem.new(checklist: @checklist)).create? %>
          <div class="mt-3" data-better_together--checklist-items-target="form">
            <% form_object = BetterTogether::ChecklistItem.new(checklist: @checklist) %>
            <%= render partial: 'better_together/checklist_items/form', locals: { form_object: form_object, form_url: better_together.checklist_checklist_items_path(@checklist, locale: I18n.locale) } %>
          </div>
        <% end %>

        <div id="<%= dom_id(@checklist, :streams) %>" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</div>
