<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <%= render 'better_together/shared/help_banner',
             id: 'joatu-offers-index',
             i18n_key: 'better_together.joatu.help.offers.index' %>
  <div class="row offers-list">
    <div class="col-md-4">
      <%= render 'better_together/joatu/shared/offers_and_requests/list_form',
                 search_path: joatu_offers_path,
                 order_options: [[t('better_together.joatu.search.newest', default: 'Newest'), 'newest'],
                                 [t('better_together.joatu.search.oldest', default: 'Oldest'), 'oldest']],
                 type_options: @category_options %>
      <div class="clearfix mb-2"></div>
      <% if policy(resource_class).create? %>
        <%= link_to new_joatu_offer_path, class: 'btn btn-success float-end', 'aria-label' => 'Add Offer' do %>
          <i class="fas fa-plus"></i> <%= t('better_together.joatu.offers.new_offer', default: 'New Offer') %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="text-center h4 mb-0"><%= t('better_together.joatu.offers.index_header', default: 'Offers') %></h1>
        </div>
        <% if @joatu_offers.blank? %>
          <div class="panel-body"><%= t('better_together.joatu.offers.empty', default: 'No offers found') %></div>
        <% end %>
        <div class="list-group">
          <%= render partial: 'better_together/joatu/offers/offer_list_item', collection: @joatu_offers, as: :offer_list_item %>
        </div>
        <div class="panel-footer">
          <%= paginate @joatu_offers if respond_to?(:paginate) %>
        </div>
      </div>

      <%# Aggregated potential matches across my offers on this page %>
      <% if defined?(current_person) && @aggregated_request_matches.present? %>
        <%= render 'better_together/joatu/shared/aggregated_offer_matches',
                   requests: @aggregated_request_matches,
                   request_offer_map: @offer_match_request_map %>
      <% end %>
    </div>
  </div>
</div>
