<!-- app/views/better_together/platform_invitation_mailer/invite.html.erb -->

<p><%= t('.greeting', recipient_name: @invitee_email&.split('@').first) %></p>

<p><%= t('.message', platform: @platform.name, inviter:  @platform_invitation.inviter) %></p>

<% if @greeting.present? %>
  <%= @greeting %>
<% end %>

<p><%= link_to t('.link_text'), @invitation_url, class: 'text-decoration-none' %></p>

<p><%= t('.invitation_code', invitation_code: @platform_invitation.token) %></p>

<% if @valid_until.present? %>
  <p><%= t('.valid_period', valid_from: l(@valid_from, format: :long), valid_until: l(@valid_until, format: :long)) %></p>
<% else %>
  <p><%= t('.valid_from', valid_from: l(@valid_from, format: :long)) %></p>
<% end %>

<p><%= t('.ignore') %></p>

<p><%= t('.signature_html', platform: @platform.name) %></p>
