<%# app/views/better_together/files/_fields.html.erb %>
<%# This partial expects the following locals: %>
<%# - fields: the form builder object for the nested fields %>
<%# - current_person: the current user object to set the creator_id %>

<%# locals: (form:, label: %>

<div class="col-12 mb-3">
  <%= form.hidden_field :creator_id, value: current_person&.id %>
  <%= form.hidden_field :remove_file, value: 0 %>
  <div class="row">
    <div class="col-12 col-md-6">
      <%= form.label :file, label, class: 'form-label' %>
      <%= form.file_field :file, class: 'form-control' %>
    </div>
    <div class="col-12 col-md-6">
      <%= required_label form, :privacy, class: "form-label" %>
      <%= privacy_field(form:, klass: form.object.class) %>
    </div>
  </div>
  <% if form.object.attached? %>
    <div class="row mt-3">
      <div class="col">
          <%= form.object.filename %>
      </div>
    </div>
  <% end %>
</div>