<turbo-frame id="new_user_account_report">
  <h3><%= t('views.headers.new_user_account_report') %></h3>

  <%= form_with model: @user_account_report, url: metrics_user_account_reports_path, local: true, class: "form" do |f| %>
    <%= turbo_frame_tag 'form_errors' %>
    <div class="form-group">
      <%= f.label :from_date, t('views.labels.from_date') %>
      <%= f.date_field :from_date, name: "metrics_user_account_report[filters][from_date]", class: "form-control", placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="form-group">
      <%= f.label :to_date, t('views.labels.to_date') %>
      <%= f.date_field :to_date, name: "metrics_user_account_report[filters][to_date]", class: "form-control", placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :file_format, t('views.labels.file_format') %>
      <%= f.select :file_format, options_for_select([["CSV", "csv"]], "csv"), {}, name: "metrics_user_account_report[file_format]", class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit t('views.buttons.create_report'), class: "btn btn-primary" %>
      <%= link_to t('views.buttons.back'), metrics_user_account_reports_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</turbo-frame>


<div class="container mt-5">
  <h1><%= t('views.headers.new_user_account_report') %></h1>

  <%= form_with model: @user_account_report, url: metrics_user_account_reports_path, local: true, class: "form" do |f| %>
    <%= turbo_frame_tag 'form_errors' %>
    <div class="form-group">
      <%= f.label :from_date, t('views.labels.from_date') %>
      <%= f.date_field :from_date, name: "metrics_user_account_report[filters][from_date]", class: "form-control", placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="form-group">
      <%= f.label :to_date, t('views.labels.to_date') %>
      <%= f.date_field :to_date, name: "metrics_user_account_report[filters][to_date]", class: "form-control", placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="form-group mt-3">
      <%= f.label :file_format, t('views.labels.file_format') %>
      <%= f.select :file_format, options_for_select([["CSV", "csv"]], "csv"), {}, name: "metrics_user_account_report[file_format]", class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit t('views.buttons.create_report'), class: "btn btn-primary" %>
      <%= link_to t('views.buttons.back'), metrics_user_account_reports_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
