<!-- app/views/better_together/conversation_mailer/new_message_notification.html.erb -->

<p><%= t('.greeting', recipient_name: @recipient.name) %></p>


<% if(@recipient.show_conversation_details) %>
	<p><%= t('.message_intro_with_sender', sender_name: @sender.name) %></p>
<% else %>
	<p><%= t('.message_intro') %></p>
<% end %>

<p><%= t('.view_conversation') %></p>

<p><%= link_to t('.view_conversation_link'), 
								 conversation_url(@conversation, anchor: "message_#{@message.id}") %></p>

<p><%= t('.signature_html', platform: @platform.name) %></p>
