<!-- app/views/messages/_message.html.erb -->

<%# locals: (message:, me: false, read_status: 'unread') %>


	<div id="<%= dom_id(message) %>" class="<%= dom_class(message, :conversation) %> d-flex mb-3 <% if me %>me<% end %>"
		data-sender-id="<%= message.sender_id %>">
		<div class="message-container">
 			<div class="message-header d-flex">
 				<strong class="me-2">
 					<%= message.sender.name %>
 				</strong>
 				<small class="text-muted">
 					<%= l(message.created_at, format: :short) %>
 				</small>
				<div class="ms-auto">
					<%= render 'shared/content_actions',
					           record: message,
					           trigger_classes: 'btn btn-outline-secondary btn-sm py-0 px-2' %>
				</div>
			</div>
			<% if message.e2e? %>
				<div class="message-bubble p-3 rounded e2e-message"
					data-controller="better-together--e2e-message-decrypt"
					data-better-together--e2e-message-decrypt-ciphertext-payload-value="<%= html_escape(message.content.to_plain_text) %>"
					data-better-together--e2e-message-decrypt-sender-person-id-value="<%= message.sender_id %>"
					data-better-together--e2e-message-decrypt-conversation-id-value="<%= message.conversation_id %>"
					data-better-together--e2e-message-decrypt-decrypting-text-value="<%= t('better_together.e2e.message.decrypting') %>"
					data-better-together--e2e-message-decrypt-error-text-value="<%= t('better_together.e2e.message.decrypt_error') %>">
					<%= t('better_together.e2e.message.decrypting') %>
				</div>
			<% else %>
				<div class="message-bubble p-3 rounded" data-controller="better-together--message_visibility"
					data-message-id="<%= message.id %>" data-read-status="<%= read_status %>">
					<%= message.content %>
				</div>
			<% end %>
		</div>
	</div>
