
<tr id="<%= dom_id platform %>" class="<%= dom_class platform %>">
  <td><%= platform.identifier %></td>
  <td><%= platform.name %></td>
  <td><%= platform.description %></td>
  <td><%= platform.slug %></td>
  <td><%= platform.url %></td>
  <td><%= platform.time_zone %></td>
  <td><%= platform.privacy %></td>
  <td><%= platform.protected ? 'Yes' : 'No' %></td>
  <td><%= platform.host ? 'Yes' : 'No' %></td>
  <td>
    <% if policy(platform).show? %>
      <%= link_to 'Show', platform, class: 'btn btn-info' %>
    <% end %>
    <% if policy(platform).edit? %>
      <%= link_to 'Edit', edit_platform_path(platform), class: 'btn btn-primary' %>
    <% end %>
    <% if policy(platform).destroy? %>
      <%= link_to 'Delete', platform, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </td>
</tr>
