<%= render 'better_together/shared/card', entity: platform do %>
  <% if platform.host_url.present? %>
    <div class="card-text text-muted mt-2">
      <i class="fas fa-globe me-2 icon-above-stretched-link" aria-hidden="true"></i>
      <%= link_to sanitize_url(platform.host_url),
                  sanitize_url(platform.host_url),
                  target: '_blank',
                  rel: 'noopener noreferrer' %>
    </div>
  <% end %>

  <% if platform.time_zone.present? %>
    <div class="card-text text-muted mt-2">
      <i class="fas fa-clock me-2 icon-above-stretched-link" aria-hidden="true"></i>
      <%= platform.time_zone %>
    </div>
  <% end %>

  <div class="card-text text-muted mt-2">
    <%= privacy_display_value(platform) %>
    <% if platform.host? %>
      <span class="ms-2"><%= t('globals.yes') %> <%= BetterTogether::Platform.human_attribute_name(:host) %></span>
    <% end %>
  </div>
<% end %>
