<%= form_with(model: event, class: 'form', multipart: true, id: dom_id(event, 'form'), local: true, data: { controller: "better_together--form-validation better_together--tabs" }) do |form| %>
  <%= form.hidden_field :creator_id, value: current_person&.id unless form.object.creator_id %>
  <% content_for :resource_toolbar do %>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="<%= t('helpers.toolbar.aria_label') %>">
      <div class="btn-group me-2" role="group">
        <%= link_to t('better_together.events.back_to_events'), events_path, class: 'btn btn-secondary' %>
      </div>
      <div class="btn-group me-2" role="group">
        <%= form.submit t('better_together.events.save_event'), class: 'btn btn-primary' %>
      </div>
      <% if event.persisted? %>
        <div class="btn-group me-2" role="group">
          <%= link_to t('better_together.events.view_event'), event, class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield :resource_toolbar %>

  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('helpers.errors.heading') %></h4>
      <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!-- Vertical Pills Navigation -->
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="event-form-tabs" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="event-details-tab" data-bs-toggle="pill" data-bs-target="#event-details" type="button" role="tab" aria-controls="event-details" aria-selected="true" data-better_together--tabs-target="tab">
          <%= t('better_together.events.tabs.details') %>
        </button>
        <button class="nav-link" id="event-time-and-place-tab" data-bs-toggle="pill" data-bs-target="#event-time-and-place" type="button" role="tab" aria-controls="event-time-and-place" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.events.tabs.time-and-place') %>
        </button>
        <button class="nav-link" id="event-images-tab" data-bs-toggle="pill" data-bs-target="#event-images" type="button" role="tab" aria-controls="event-images" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.events.tabs.images') %>
        </button>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-md-9 tab-content" id="event-form-tabs-content">
      <!-- Event Details Tab -->
      <div class="nav-tab-pane tab-pane fade show active" id="event-details" role="tabpanel" aria-labelledby="event-details-tab">
        <div class="row mb-3 row-cols-1 row-cols-sm-2">
          <!-- Translatable Name Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: event, form: form, attribute: 'name' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.name') %></small>
          </div>

          <!-- Translatable Slug Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: event, form: form, attribute: 'slug' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.slug') %></small>
          </div>

          <!-- Privacy Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= form.label :privacy, t('better_together.events.labels.privacy') %>
            <%= privacy_field(form:, klass: event.class) %>
            <% if event.errors[:privacy].any? %>
              <div class="invalid-feedback">
                <%= event.errors[:privacy].join(", ") %>
              </div>
            <% end %>
          </div>

          <div class="col mb-3 pb-3 border-bottom">
            <%= required_label form, :categories %>
            <%= form.select :category_ids, options_from_collection_for_select(resource_class.category_class_name.constantize.positioned.all.includes(:string_translations), :id, :name, event.category_ids), { include_blank: true, multiple: true }, class: 'form-select', data: { controller: 'better_together--slim_select' } %>
            <small class="form-text text-muted"><%= t('hints.categories.select_multiple') %></small>
          </div>
        </div>

        <div class="row">
          <!-- Translatable Description Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: event, form: form, attribute: 'description' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.description') %></small>
          </div>
        </div>
      </div>

      <!-- Event Schedule Tab -->
      <div class="nav-tab-pane tab-pane fade" id="event-time-and-place" role="tabpanel" aria-labelledby="event-time-and-place-tab">
        <div class="mb-3">
          <div class="row">
            <!-- Start Datetime Field -->
            <div class="col-6 mb-3 pb-3 border-bottom">
              <%= form.label :starts_at, t('better_together.events.labels.starts_at') %>
              <%= form.datetime_field :starts_at, include_seconds: false, class: 'form-control' %>
              <% if event.errors[:starts_at].any? %>
                <div class="invalid-feedback">
                  <%= event.errors[:starts_at].join(", ") %>
                </div>
              <% end %>
              <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.starts_at') %></small>
            </div>

            <!-- End Datetime Field -->
            <div class="col-6 mb-3 pb-3 border-bottom">
              <%= form.label :ends_at, t('better_together.events.labels.ends_at') %>
              <%= form.datetime_field :ends_at, include_seconds: false, class: 'form-control' %>
              <% if event.errors[:ends_at].any? %>
                <div class="invalid-feedback">
                  <%= event.errors[:ends_at].join(", ") %>
                </div>
              <% end %>
              <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.ends_at') %></small>
            </div>

            <!-- Start Location Field -->
            <div class="col-12 mb-3 pb-3 border-bottom">
              <%= form.label :location, t('better_together.events.labels.location') %>

              <div class="location-fields">
                <%= form.fields_for :location, (event.location || event.build_location) do |location_form| %>
                  <%= location_form.hidden_field :locatable_id  %>
                  <%= location_form.hidden_field :locatable_type  %>

                  <%= location_form.text_field :name, class: 'form-control mb-4'  %>


                  <%# location_form.text_field :location_type, class: 'form-control', placeholder: 'location type'  %>
                  <%# location_form.text_field :location_id, class: 'form-control', placeholder: 'location id'  %>
                <% end %>
              </div>
              <% if event.errors[:location].any? %>
                <div class="invalid-feedback">
                  <%= event.errors[:location].join(", ") %>
                </div>
              <% end %>
              <small class="form-text text-muted mt-2"><%= t('better_together.events.hints.location') %></small>
            </div>
          </div>
        </div>
      </div>

      <!-- Event Images Tab -->
      <div class="nav-tab-pane tab-pane fade" id="event-images" role="tabpanel" aria-labelledby="event-images-tab">
        <div class="mb-3">
          <div id="event-cover-image-fields" class="mb-3" data-controller="better_together--image-preview"
            data-image-preview-clear-value="<%= t('globals.clear') %>"
            data-image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
            <%= label_tag do %>
              <%= event.class.human_attribute_name(:cover_image) %>
              <% if event.cover_image.attached? %>
                : <%= event.cover_image.filename %>
              <% end %>
            <% end %>

            <div class="input-group">
              <%= form.file_field :cover_image, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => 'input', data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
              <%= form.hidden_field :remove_cover_image, value: '0', "data-better_together--image-preview-target" => "deleteField" %>
              <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', "data-better_together--image-preview-target" => "deleteButton", data: { 'action' => "better_together--image-preview#toggleDelete", 'clear-value' => t('globals.clear'), 'undo-clear-value' => t('globals.undo_clear'), 'no-image-value' => t('globals.no_image') } } %>
            </div>

            <small class="form-text text-muted"><%= t('helpers.hint.event.cover_image') %></small>

            <div class="my-3 text-center preview-target" data-better_together--image-preview-target="preview" data-image-classes="cover-image" data-url="<%= event.cover_image.url if event.cover_image.attached? %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield :resource_toolbar %>
<% end %>