<% invitation = BetterTogether::EventInvitation.new(invitable: @event, inviter: current_person) %>
<%# Only show the invitation UI to users permitted to manage the platform. This prevents non-platform-manager users from inviting others while the feature is being finished. %>
<% if policy(invitation).create? %>
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span><%= t('better_together.invitations.event_panel.title', default: 'Invite People') %></span>
    </div>
    <div class="card-body">
      <div id="form_errors"></div>
      
      <!-- Tab Navigation -->
      <ul class="nav nav-tabs mb-3" id="invitationTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="invite-person-tab" data-bs-toggle="tab" data-bs-target="#invite-person" type="button" role="tab" aria-controls="invite-person" aria-selected="true">
            <%= t('better_together.invitations.invite_person', default: 'Invite Member') %>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="invite-email-tab" data-bs-toggle="tab" data-bs-target="#invite-email" type="button" role="tab" aria-controls="invite-email" aria-selected="false">
            <%= t('better_together.invitations.invite_by_email', default: 'Invite by Email') %>
          </button>
        </li>
      </ul>
      
      <!-- Tab Content -->
      <div class="tab-content" id="invitationTabContent">
        <!-- Invite Person Tab -->
        <div class="tab-pane fade show active" id="invite-person" role="tabpanel" aria-labelledby="invite-person-tab">
          <%= form_with url: better_together.event_invitations_path(event_id: @event.slug), method: :post, data: { turbo: true }, id: 'invite_person_form' do |f| %>
            <div class="row g-2 align-items-end">
              <div class="col-sm-9">
                <%= f.label :invitee_id, t('better_together.invitations.select_person', default: 'Select Person'), class: 'form-label' %>
                <%= f.select :invitee_id, [], 
                    { prompt: t('better_together.invitations.search_people', default: 'Search for people...') }, 
                    { 
                      class: 'form-select', 
                      name: 'invitation[invitee_id]',
                      data: { 
                        controller: 'better-together--slim-select',
                        'better-together--slim-select-options-value': {
                          ajax: {
                            url: better_together.available_people_event_invitations_path(@event.slug, format: :json)
                          },
                          settings: {
                            searchPlaceholder: t('better_together.invitations.search_people', default: 'Search for people...'),
                            searchHighlight: true,
                            closeOnSelect: true
                          }
                        }.to_json
                      }
                    } %>
              </div>
              <div class="col-sm-3">
                <%= f.submit t('better_together.invitations.send_invite', default: 'Send Invitation'), class: 'btn btn-primary w-100' %>
              </div>
            </div>
          <% end %>
        </div>
        
        <!-- Invite by Email Tab -->
        <div class="tab-pane fade" id="invite-email" role="tabpanel" aria-labelledby="invite-email-tab">
          <%= form_with url: better_together.event_invitations_path(event_id: @event.slug), method: :post, data: { turbo: true }, id: 'invite_email_form' do |f| %>
            <div class="row g-2 align-items-end">
              <div class="col-sm-6">
                <%= f.label :invitee_email, t('better_together.invitations.invitee_email', default: 'Email'), class: 'form-label' %>
                <%= f.email_field :invitee_email, name: 'invitation[invitee_email]', class: 'form-control', required: true %>
              </div>
              <div class="col-sm-3">
                <%= f.label :locale, t('globals.locale', default: 'Locale'), class: 'form-label' %>
                <%= language_select_field(form: f, field_name: :locale, selected_locale: I18n.locale, html_options: { name: 'invitation[locale]', class: 'form-select' }) %>
              </div>
              <div class="col-sm-3">
                <%= f.submit t('better_together.invitations.send_invite', default: 'Send Invitation'), class: 'btn btn-primary w-100' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'better_together/events/invitations_table' %>

