<% pending = BetterTogether::EventInvitation.where(invitable: event, status: 'pending') %>
<% pending.each do |pi| %>
  <tr id="<%= dom_id(pi) %>">
    <td><%= pi[:invitee_email] %></td>
    <td><%= l(pi.last_sent, format: :short) if pi.last_sent %></td>
    <td class="text-end">
      <% if policy(pi).resend? %>
        <%= button_to t('globals.resend', default: 'Resend'), better_together.resend_event_invitation_path(event, pi), method: :put, class: 'btn btn-outline-secondary btn-sm me-2' %>
      <% end %>
      <% if policy(pi).destroy? %>
        <%= button_to t('globals.remove', default: 'Remove'), better_together.event_invitation_path(event, pi), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
    </td>
  </tr>
<% end %>
