<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container mt-5">
  <h1 class="mb-4">Events</h1>

  <% if policy(::BetterTogether::Event.new).create? %>
    <div class="row">
      <div class="col-12 mb-4 text-right">
        <a href="<%= new_event_path %>" class="btn btn-success">Add New Event</a>
      </div>
    </div>
    <h2>Draft</h2>
    <div class="row">
      <%= render(@draft_events) || render('none') %>
    </div>
    <%= paginate @draft_events %>
  <% end %>

  <% if @upcoming_events.size > 0 || @past_events.size > 0 %>
    <h2>Upcoming</h2>
    <div class="row">
      <%= render(@upcoming_events) || render('none') %>
    </div>
    <%= paginate @upcoming_events %>

    <% if @past_events.size > 0 %>
      <h2>Past</h2>
      <div class="row">
        <%= render(@past_events) %>
      </div>
      <%= paginate @past_events %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">No events yet!</h3>
            <p class="card-text">
              Stay tuned for upcoming events where you can connect, learn, and grow with our community.
              <br>
              Events are a great way to meet like-minded people, share knowledge, and have fun together.
            </p>
            <% if policy(::BetterTogether::Event.new).create? %>
              <a href="<%= new_event_path %>" class="btn btn-primary mt-3">Publish an Event</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
