<div data-controller="better_together--agreement-modal"
     data-action="click@document->better_together--agreement-modal#open better_together:agreement-review-complete@document->better_together--agreement-modal#handleReviewComplete"
     data-better_together--agreement-modal-close-label-value="<%= t('helpers.close', default: 'Close') %>"
     data-better_together--agreement-modal-cancel-label-value="<%= t('helpers.cancel', default: 'Cancel') %>"
     data-better_together--agreement-modal-accept-label-value="<%= t('better_together.agreements.accept', default: 'I agree') %>"
     data-better_together--agreement-modal-accepted-label-value="<%= t('better_together.agreements.accepted', default: 'Accepted') %>"
     data-better_together--agreement-modal-accepting-label-value="<%= t('better_together.agreements.accepting', default: 'Saving...') %>"
     data-better_together--agreement-modal-accept-error-value="<%= t('better_together.agreements.accept_error', default: 'Unable to record agreement acceptance right now.') %>">
  <div class="modal fade" id="agreementModal" tabindex="-1" aria-labelledby="agreementModalLabel" aria-hidden="true" data-better_together--agreement-modal-target="modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agreementModalLabel"><%= t('better_together.agreements.show.title', default: 'Agreement') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('helpers.close', default: 'Close') %>"></button>
        </div>
        <div class="modal-body">
          <turbo-frame id="agreement_modal_frame"
                       data-controller="better_together--modal-anchor better_together--agreement-view"
                       data-better_together--agreement-modal-target="frame">
            <div class="text-center py-5">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
              <span class="visually-hidden"><%= t('better_together.loading', default: 'Loading...') %></span>
            </div>
          </turbo-frame>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  data-better_together--agreement-modal-target="cancelButton"><%= t('helpers.close', default: 'Close') %></button>
          <button type="button"
                  class="btn btn-primary d-none"
                  data-action="better_together--agreement-modal#accept"
                  data-better_together--agreement-modal-target="acceptButton"
                  disabled><%= t('better_together.agreements.accept', default: 'I agree') %></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="agreementNoticeModal" tabindex="-1" aria-labelledby="agreementNoticeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agreementNoticeModalLabel"><%= t('better_together.agreements.notice.title') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('better_together.agreements.notice.close') %>"></button>
        </div>
        <div class="modal-body">
          <p><%= t('better_together.agreements.notice.body') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('better_together.agreements.notice.close') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
