<!-- app/views/layouts/better_together/_flash_messages.html.erb -->
<% if flash.any? %>
  <div id="flash_messages" class="container">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |type, message| %>
          <div class="alert <%= 'alert-success' if type == 'notice' %> <%= 'alert-warning' if type == 'alert' %> <%= 'alert-danger' if type == 'error' %> <%= 'alert-info' if type == 'info' %> alert-dismissible fade show text-center" role="alert"  data-controller="flash">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
