
<!-- Footer -->
<footer id="app-footer" class="footer py-4">
  <%= render partial: 'layouts/better_together/extra_footer_info_top' %>

  <nav id="footer-pages-nav" class="navbar navbar-expand navbar-dark bt-underline-nav">
    <div class="container flex-column">
      <!-- Toggler for mobile view -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#footerNavbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="<%= t('navbar.toggle_navigation') %>">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="footerNavbarNavDropdown">
        <%= cache nav_fragment_cache_key('platform_footer_nav', nav_areas: [platform_footer_nav_area]) do %>
          <%= render_platform_footer_nav_items %>
        <% end %>
      </div>
      <%= cache nav_fragment_cache_key('better_together_footer_nav', nav_areas: [better_together_nav_area]) do %>
        <%= render_better_together_nav_items %>
      <% end %>
    </div>
  </nav>
  <nav id="footer-platform-nav" class="navbar navbar-expand-lg">
    <div class="container">
      <div class="col">
        <ul class="navbar-nav justify-content-between">
          <li class="nav-item">
            <p class="navbar-text">
              <%= t('layouts.better_together.footer.copyright',
                    community_name: host_community.name,
                    year: Time.zone.now.year) %>
            </p>
          </li>
          <!-- ... other nav items ... -->

          <li class="nav-item">
            <a class="nav-link" href="#back-to-top"><i class="fa fa-solid fa-arrow-up me-2"></i><%= t('layouts.better_together.footer.back_to_top') %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= render partial: 'layouts/better_together/extra_footer_info_bottom' %>
</footer>
