
<!-- Navbar -->
<nav id="main-nav" class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <!-- Branding Element -->
    <a class="navbar-brand" href="<%= base_path_with_locale %>"><%= host_platform.name %></a>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Right-aligned nav items -->
      <ul class="navbar-nav ms-auto">
        <!-- ... other nav items ... -->

        <% if platform_header_nav_items.any? %>
          <%= render 'better_together/navigation_items/navigation_items', navigation_items: platform_header_nav_items %>
        <% end %>

        <% if user_signed_in? && permitted_to?('manage_platform') && platform_header_admin_nav_items.any? %>
          <%= render 'better_together/navigation_items/navigation_items', navigation_items: platform_header_admin_nav_items %>
        <% end %>

        <!-- User Auth Nav Item -->
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link position-relative" href="<%= notifications_path %>">
              <i class="fa fa-bell"></i>
              <%= unread_notification_count %>
            </a>
          </li>
          <!-- If user is signed in, show avatar and name -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="<%= person_my_profile_path(person_id: current_person.slug) %>" id="userNavbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%# image_tag(current_user.avatar.url, size: "30x30", class: "rounded-circle") %> <%= current_identity.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userNavbarDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i> Settings</a></li> -->
              <li><%= link_to 'My Profile', person_my_profile_path(person_id: current_person.slug), class: "dropdown-item" %></li>
              <li><%= link_to 'Conversations', conversations_path, class: "dropdown-item" %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <!-- If user is not signed in, show 'Sign In' -->
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

        <%= render 'layouts/better_together/locale_switcher' %>
      </ul>
    </div>
  </div>
</nav>
