<li class="nav-item notifications dropdown" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= t('navbar.notifications_tooltip') %>">
  <a id="notification-icon" class="nav-link position-relative<%= ' active' if params[:controller].present? && url_for(controller: params[:controller], action: params[:action]) === notifications_path %>" href="<%= notifications_path %>" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <%= unread_notification_counter %>
  </a>
  <ul id="notification-list" class="dropdown-menu dropdown-menu-center p-3 position-absolute" style="min-width: 25rem;" aria-labelledby="notification-icon">
    <li>
      <h5 id="notification-header">
        <%= link_to 'Notifications', notifications_url, class: 'text-decoration-none' %>
        <%= button_to t('better_together.notifications.mark_all_as_read'),
                      mark_all_as_read_notifications_path,
                      method: :post,
                      class: 'btn btn-secondary btn-sm',
                      id: 'mark_notifications_read',
                      data: { turbo_stream: true } if unread_notifications? %>
      </h5>
    </li>
    <li><hr class="dropdown-divider"></li>
    <% recent_notifications.each do |notification, count| %>
      <%= render notification, count: count %>
    <% end %>
  </ul>
</li>