<!-- If user is not signed in, show 'Sign In' -->
<li class="nav-item">
  <% if valid_platform_invitation_token_present? %>
    <%= link_to new_user_registration_path(locale: I18n.locale, invitation_code: session[:platform_invitation_token]), class: "nav-link d-flex align-items-center gap-2" do %>
      <i class="fas fa-envelope-open-text"></i>
      <%= t('navbar.accept_invitation') if current_invitation.registers_user? %>
      <% expires_at_unix = invitation_token_expires_at %>

      <span class="badge bg-info ms-2"
          data-controller="better_together--invitation-timer"
          data-better_together--invitation-timer-expires-at-value="<%= expires_at_unix %>">
        <%= t('invitations.calculating') %>
      </span>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-link d-flex align-items-center justify-content-center gap-2" do %>
      <i class="fas fa-sign-in-alt"></i>
      <%= t('navbar.sign_in') %>
    <% end %>
  <% end %>
</li>