<!-- If user is signed in, show avatar and name -->
<li id="user-nav" class="nav-item dropdown" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= t('navbar.user_nav_tooltip') %>">
  <a class="nav-link dropdown-toggle<%= ' active' if url_for(controller: params[:controller], action: params[:action]) === person_my_profile_path(person_id: current_person.slug) %>"
     href="<%= person_my_profile_path(person_id: current_person.slug) %>"
     id="userNavbarDropdownMenuLink"
     role="button"
     data-bs-toggle="dropdown"
    data-bs-auto-close="outside"
     aria-expanded="false"
     data-bs-container="body">
    <%# Display avatar and name inline %>
    <%= profile_image_tag(current_identity, class: 'user-nav', alt: current_identity.name, size: 50) %>
    <span class="identity-name d-none d-lg-inline"><%= current_identity.name %></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end p-3 position-absolute" aria-labelledby="userNavbarDropdownMenuLink">
    <li class="d-flex flex-column align-items-start mb-3 dropdown-item">
      <strong><%= current_user.email %></strong>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to t('navbar.my_profile'), person_my_profile_path(person_id: current_person.slug), class: "my-profile dropdown-item ", data: { identifier: 'my-profile' } %>
    </li>
    <li><%= link_to t('navbar.conversations'), conversations_path, class: "dropdown-item", data: { identifier: 'conversations' } %></li>

    <li>
      <%= link_to host_community.name, host_community, class: "host-community dropdown-item ", data: { identifier: 'host-community' } %>
    </li>

    <% if permitted_to?('manage_platform') %>
      <li id="host-nav-item">
        <%= render_platform_host_nav_items %>
      </li>
    <% end %>

    <li><hr class="dropdown-divider"></li>
    <li><%= link_to t('navbar.log_out'), destroy_user_session_path, data: { turbo_method: :delete, identifier: 'sign-out' }, class: "dropdown-item text-danger" %></li>
  </ul>
</li>