<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : 'Home' %> | <%= host_platform.name %></title>
    <meta name="color-scheme" content="light dark">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <%= stylesheet_link_tag 'better_together/application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-light">
    <%= render 'layouts/better_together/header' %>

    <%= render 'layouts/better_together/flash_messages' %>

    <!-- Main Section -->
    <main>
      <%= yield %>
    </main>
    
    <%= render 'layouts/better_together/footer' %>
  </body>
</html>
