<!DOCTYPE html>
<html>
<head>
  <title>Better Together Community Engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "better_together/application", media: "all" %>
  <%= javascript_include_tag "better_together/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
