<%= form_with(model: call_for_interest, class: 'form', multipart: true, id: dom_id(call_for_interest, 'form'), local: true, data: { controller: "better_together--form-validation better_together--tabs" }) do |form| %>
  <%= form.hidden_field :creator_id, value: current_person&.id unless form.object.creator_id %>
  <% content_for :resource_toolbar do %>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="<%= t('helpers.toolbar.aria_label') %>">
      <div class="btn-group me-2" role="group">
        <%= link_to t('better_together.calls_for_interest.back_to_calls_for_interest'), calls_for_interest_path, class: 'btn btn-secondary' %>
      </div>
      <div class="btn-group me-2" role="group">
        <%= form.submit t('better_together.calls_for_interest.save_call_for_interest'), class: 'btn btn-primary' %>
      </div>
      <% if call_for_interest.persisted? %>
        <div class="btn-group me-2" role="group">
          <%= link_to t('better_together.calls_for_interest.view_call_for_interest'), call_for_interest, class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield :resource_toolbar %>

  <% if call_for_interest.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('helpers.errors.heading') %></h4>
      <ul>
        <% call_for_interest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!-- Vertical Pills Navigation -->
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="call_for_interest-form-tabs" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="call_for_interest-details-tab" data-bs-toggle="pill" data-bs-target="#call_for_interest-details" type="button" role="tab" aria-controls="call_for_interest-details" aria-selected="true" data-better_together--tabs-target="tab">
          <%= t('better_together.calls_for_interest.tabs.details') %>
        </button>
        <button class="nav-link" id="call_for_interest-time-and-place-tab" data-bs-toggle="pill" data-bs-target="#call_for_interest-time-and-place" type="button" role="tab" aria-controls="call_for_interest-time-and-place" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.calls_for_interest.tabs.time-and-place') %>
        </button>
        <button class="nav-link" id="call_for_interest-images-tab" data-bs-toggle="pill" data-bs-target="#call_for_interest-images" type="button" role="tab" aria-controls="call_for_interest-images" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.calls_for_interest.tabs.images') %>
        </button>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-md-9 tab-content" id="call_for_interest-form-tabs-content">
      <!-- Event Details Tab -->
      <div class="nav-tab-pane tab-pane fade show active" id="call_for_interest-details" role="tabpanel" aria-labelledby="call_for_interest-details-tab">
        <div class="row mb-3 row-cols-1 row-cols-sm-2">
          <!-- Translatable Name Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: call_for_interest, form: form, attribute: 'name' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.calls_for_interest.hints.name') %></small>
          </div>

          <!-- Translatable Slug Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: call_for_interest, form: form, attribute: 'slug' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.calls_for_interest.hints.slug') %></small>
          </div>

          <!-- Privacy Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= form.label :privacy, t('better_together.calls_for_interest.labels.privacy') %>
            <%= privacy_field(form:, klass: call_for_interest.class) %>
            <% if call_for_interest.errors[:privacy].any? %>
              <div class="invalid-feedback">
                <%= call_for_interest.errors[:privacy].join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <!-- Translatable Description Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: call_for_interest, form: form, attribute: 'description' } %>
            <small class="form-text text-muted mt-2"><%= t('better_together.calls_for_interest.hints.description') %></small>
          </div>
        </div>
      </div>

      <!-- Event Schedule Tab -->
      <div class="nav-tab-pane tab-pane fade" id="call_for_interest-time-and-place" role="tabpanel" aria-labelledby="call_for_interest-time-and-place-tab">
        <div class="mb-3">
          <div class="row">
            <!-- Start Datetime Field -->
            <div class="col-6 mb-3 pb-3 border-bottom">
              <%= form.label :starts_at, t('better_together.calls_for_interest.labels.starts_at') %>
              <%= form.datetime_field :starts_at, include_seconds: false, class: 'form-control' %>
              <% if call_for_interest.errors[:starts_at].any? %>
                <div class="invalid-feedback">
                  <%= call_for_interest.errors[:starts_at].join(", ") %>
                </div>
              <% end %>
              <small class="form-text text-muted mt-2"><%= t('better_together.calls_for_interest.hints.starts_at') %></small>
            </div>

            <!-- End Datetime Field -->
            <div class="col-6 mb-3 pb-3 border-bottom">
              <%= form.label :ends_at, t('better_together.calls_for_interest.labels.ends_at') %>
              <%= form.datetime_field :ends_at, include_seconds: false, class: 'form-control' %>
              <% if call_for_interest.errors[:ends_at].any? %>
                <div class="invalid-feedback">
                  <%= call_for_interest.errors[:ends_at].join(", ") %>
                </div>
              <% end %>
              <small class="form-text text-muted mt-2"><%= t('better_together.calls_for_interest.hints.ends_at') %></small>
            </div>
          </div>
        </div>
      </div>

      <!-- Event Images Tab -->
      <div class="nav-tab-pane tab-pane fade" id="call_for_interest-images" role="tabpanel" aria-labelledby="call_for_interest-images-tab">
        <div class="mb-3">
          <div id="call_for_interest-cover-image-fields" class="mb-3" data-controller="better_together--image-preview"
            data-image-preview-clear-value="<%= t('globals.clear') %>"
            data-image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
            <%= label_tag do %>
              <%= call_for_interest.class.human_attribute_name(:cover_image) %>
              <% if call_for_interest.cover_image.attached? %>
                : <%= call_for_interest.cover_image.filename %>
              <% end %>
            <% end %>

            <div class="input-group">
              <%= form.file_field :cover_image, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => 'input', data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
              <%= form.hidden_field :remove_cover_image, value: '0', "data-better_together--image-preview-target" => "deleteField" %>
              <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', "data-better_together--image-preview-target" => "deleteButton", data: { 'action' => "better_together--image-preview#toggleDelete", 'clear-value' => t('globals.clear'), 'undo-clear-value' => t('globals.undo_clear'), 'no-image-value' => t('globals.no_image') } } %>
            </div>

            <small class="form-text text-muted"><%= t('helpers.hint.call_for_interest.cover_image') %></small>

            <div class="my-3 text-center preview-target" data-better_together--image-preview-target="preview" data-image-classes="cover-image" data-url="<%= call_for_interest.cover_image.url if call_for_interest.cover_image.attached? %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield :resource_toolbar %>
<% end %>