<!-- app/views/conversations/_conversation.html.erb -->

<%# locals: (conversation:, last_message: conversation.messages.last) %>

<li id="<%= dom_id(conversation) %>" class="<%= dom_class(conversation) %> list-group-item <%= 'active' if conversation == @conversation %>">
  <%= link_to conversation_path(conversation), class: "stretched-link text-decoration-none d-flex justify-content-between" do %>
    <div class="mb-1 conversation-participants justify-content-between">
      <%= render partial: 'better_together/people/mention', collection: conversation.participants.where.not(id: current_person.id), as: :person %>
    </div>

    <strong><%= conversation.title %></strong>

    <div class="last-message">
      <%= render(partial: 'better_together/messages/message_simple', locals: { message: last_message }) || render(partial: 'better_together/conversations/empty') %>
    </div>
  <% end %>
</li>
