<!-- app/views/conversations/_conversation.html.erb -->

<li class="list-group-item <%= 'active' if conversation == @conversation %>">
  <%= link_to conversation_path(conversation), class: "stretched-link text-decoration-none text-dark" do %>
    <strong><%= conversation.title %></strong>
    <div class="mb-1 conversation-participants">
      <% conversation.participants.each do |participant| %>
        <% unless participant == current_person %>
          <span class="badge bg-secondary"><%= participant %></span>
        <% end %>
      <% end %>
    </div>
    <small class="text-muted d-block">
      <%= t('.last_message') %>: <%= l(conversation.messages.last.created_at, format: :short) if conversation.messages.any? %>
    </small>
  <% end %>
</li>
