<%= render 'layout_with_sidebar' do %>
  <div id="new_conversation_form" class="conversation-messages card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0"><%= t('.new_conversation') %></h3>
    </div>

    <div class="card-body">
      <%= form_with(model: @conversation, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :participant_ids, t('.add_participants') %>
          <%= form.collection_select :participant_ids, available_participants, :id, :name, {}, { multiple: true, class: 'form-control', required: true } %>
        </div>

        <div>
          <%= form.submit t('.create_conversation'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>