
<%# locals: (membership:) -%>
<div id="<%= dom_id(membership) %>" class="col membership-column <%= dom_class(membership) %>">
  <div class="card membership <%= dom_class(membership) %>">
    <!-- Card header with member name and delete button -->
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title m-0">
        <% if policy(membership.member).show? %>
          <%= link_to(membership.member) %>
        <% else %>
          <%= membership.member.name %>
        <% end %>
      </h5>
      <!-- Delete button (if user has permission) -->
      <% if policy(membership).destroy? %>
        <%= link_to [@community, membership], 
                    method: :delete, 
                    data: { confirm: 'Are you sure you want to remove this member?', turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove this member?', bs_toggle: "tooltip", title: "Remove membership" }, 
                    class: "btn btn-danger btn-sm", 
                    aria: { label: "Delete #{membership.member.name}" } do %>
          <i class="fas fa-trash-alt" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

    <!-- Card body with member role and image -->
    <div class="card-body row">
      <div class="col-md-8">
        <!-- Member role -->
        <p class="card-text"><%= membership.role.name %></p>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <!-- Member image -->
        <img src="https://placehold.co/75x75" class="card-img-top rounded-circle" alt="Image of <%= membership.member.name %>" style="width: 75px; height: 75px;">
      </div>
    </div>
  </div>
</div>
