
<%# locals: (membership:) -%>
<div id="<%= dom_id(membership) %>" class="col membership-column <%= dom_class(membership) %>">
  <div class="card membership <%= dom_class(membership) %>">
    <div class="card-header">
      <h5 class="card-title">
        <% if policy(membership.joinable).show? %>
          <%= link_to(membership.joinable) %>
        <% else %>
          <%= membership.joinable %>
        <% end %>
      </h5>
    </div>
    <div class="card-body row">
      <div class="col-md-8">
        <p class="card-text"><%= membership.role.name %></p>
        <p class="membership-joinable-description">
          <%= membership.joinable.description %>
        </p>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <img src="https://placehold.co/75x75" class="card-img-top rounded-circle" alt="Platform Image" style="width: 75px; height: 75px;">
      </div>
    </div>
  </div>
</div>
