
<div id="<%= dom_id person_community_membership %>" class="<%= dom_class person_community_membership %> col-lg-4 col-md-6 mb-4">
  <div id="<%= dom_id(person_community_membership) %>" class="card membership <%= dom_class(person_community_membership) %>">
    <div class="card-header">
      <h5 class="card-title"><%= person_community_membership.member.name %></h5>
    </div>
    <div class="card-body row">
      <div class="col-md-8">
        <p class="card-text"><%= person_community_membership.role.name %></p>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <!-- Place for a potential member image or icon -->
        <img src="https://placehold.co/75x75" class="card-img-top rounded-circle" alt="Member Image" style="width: 75px; height: 75px;">
      </div>
    </div>
  </div>
</div>
