<% content_for :page_title do %>
  <%= BetterTogether::Joatu::Agreement.model_name.human.pluralize %>
<% end %>

<%= render 'better_together/joatu/shared/exchange_nav' %>

<div class="container my-3">
  <%= render 'better_together/shared/help_banner',
             id: 'joatu-agreements-index',
             i18n_key: 'better_together.joatu.help.agreements.index' %>
  <h1 class="mb-3"><%= t('better_together.joatu.agreements.index.title', default: 'Agreements') %></h1>
  <div class="list-group">
    <%= render partial: 'better_together/joatu/agreements/agreement_list_item',
               collection: @joatu_agreements,
               as: :agreement_list_item %>
  </div>
</div>
