
<%# locals: (platform_invitation:) -%>

<div id="platform-invitation" class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">You're invited to join <strong><%= host_platform %></strong></h2>

    <% if platform_invitation.platform_role %>
      <p></p>You have been granted the <strong><%= platform_invitation.platform_role %></strong> role in the <strong><%= host_platform %></strong> platform.</p>
    <% end %>
    
    <% if platform_invitation.community_role %>
      <p>You have been granted the <strong><%= platform_invitation.community_role %></strong> role in the <strong><%= host_platform %></strong> community.</p>
    <% end %>

    <p>By registering for a user account below, you are accepting this invitation to join <strong><%= host_platform %></strong>.</p>
  </div>
</div>
