
<%# locals: (form:) %>
<div class="contact-detail-fields">
  <h3><%= t('better_together.contact_details.title') %></h3>

  <%= form.fields_for(:contact_detail) do |contact_detail_form| %>
    <div class="col-6 mb-3 pb-3 border-bottom">
      <%= contact_detail_form.label :name %>
      <%= contact_detail_form.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-6 mb-3 pb-3 border-bottom">
      <%= contact_detail_form.label :role %>
      <%= contact_detail_form.text_field :role, class: 'form-control' %>
    </div>

    <!-- Phone Numbers -->
    <%= render partial: 'better_together/phone_numbers/phone_numbers', locals: { form: contact_detail_form } %>

    <!-- Email Addresses -->
    <%= render partial: 'better_together/email_addresses/email_addresses', locals: { form: contact_detail_form } %>

    <!-- Addresses -->
    <%= render partial: 'better_together/addresses/addresses', locals: { form: contact_detail_form } %>

    <!-- Social Media Accounts -->
    <%= render partial: 'better_together/social_media_accounts/social_media_accounts', locals: { form: contact_detail_form } %>

    <!-- Website Links -->
    <%= render partial: 'better_together/website_links/website_links', locals: { form: contact_detail_form } %>
  <% end %>
</div>
