<%= form_with(model: map, class: "form", multipart: true, local: false, data: { controller: "better_together--form-validation" }) do |form| %>
  <% if map.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
        <% map.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :creator_id, value: current_person&.id %>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_string_field', locals: { model: map, form: form, attribute: 'title' } %>
</div>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: map, form: form, attribute: 'description' } %>
</div>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_string_field', locals: { model: map, form: form, attribute: 'slug' } %>
</div>

<div class="mb-3">
  <%= required_label form, :privacy, class: "form-label" %>
  <%= privacy_field(form:, klass: resource_class) %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
