<div class="container mt-5">
  <%= render @geography_map %>

  <div class="my-3 d-flex justify-content-between">
    <%= link_to "Edit this map", edit_map_path(@geography_map), class: "btn btn-primary" %>
    <%= link_to "Back to maps", maps_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this map", map_path(@geography_map), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>

  <section id="map" class="my-4 pb-2">
    <h3><i class="fas fa-map-marker-alt text-warning"></i> Location Map</h3>
    <%= render partial: 'better_together/shared/map', locals: { map: @geography_map } %>
  </section>
</div>
