<!-- app/views/better_together/navigation_areas/_form.html.erb -->

<%= form_with(model: @navigation_area, local: true, class: 'form') do |form| %>
  <% if @navigation_area.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@navigation_area.errors.count, "error") %> prohibited this navigation area from being saved:</h4>
      <ul>
        <% @navigation_area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_field form, :name, method: :text_field, input_class: 'form-control' %>

  <%= form_field form, :visible, method: :check_box, input_class: 'form-check-input' %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
