<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1><%= resource_class.model_name.human.pluralize %></h1>
    <%= link_to new_navigation_area_path, class: 'btn btn-primary d-flex align-items-center' do %>
      <i class="fas fa-plus me-2"></i> <%= t('.new_navigation_area') %>
    <% end %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= resource_class.human_attribute_name(:name) %></th>
        <th><%= resource_class.human_attribute_name(:slug) %></th>
        <th><%= resource_class.human_attribute_name(:visible) %></th>
        <th class="text-end"><%= t('globals.actions') %></th> <!-- Right-align header -->
      </tr>
    </thead>
    <tbody>
      <% @navigation_areas.each do |navigation_area| %>
        <tr>
          <td><%= navigation_area.name %></td>
          <td><%= navigation_area.slug %></td>
          <td><%= navigation_area.visible ? t('globals.visible') : t('globals.hidden') %></td>
          <td class="text-end"> <!-- Right-align buttons -->
            <%= link_to navigation_area_path(navigation_area), class: 'btn btn-outline-info btn-sm me-1', 'aria-label' => t('.items') do %>
              <i class="fas fa-list"></i> <%= t('.items') %>
            <% end %>
            <%= link_to edit_navigation_area_path(navigation_area), class: 'btn btn-outline-secondary btn-sm me-1', 'aria-label' => t('globals.edit') do %>
              <i class="fas fa-edit"></i> <%= t('globals.edit') %>
            <% end %>
            <%= link_to navigation_area_path(navigation_area), method: :delete, data: { turbo_confirm: t('globals.confirm_delete'), turbo_method: :delete }, class: 'btn btn-outline-danger btn-sm', 'aria-label' => t('globals.delete') do %>
              <i class="fas fa-trash-alt"></i> <%= t('globals.delete') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
