
<%# locals: (entity:, col_classes: 'col col-md-6 col-xl-4', card_classes: 'hover-effect', title_classes: '', show_image: true, show_timestamp: false) %>

<div id="<%= dom_id(entity) %>" class="<%= dom_class(entity) %> <%= col_classes %> entity-column mb-3">
  <div class="card entity h-100 shadow-sm border-0 <%= card_classes %>">
    <% if show_image %>
      <% if policy(entity).show? %>
        <%= link_to entity do %>
          <%= card_image_tag(entity) %>
        <% end %>
      <% else %>
        <%= card_image_tag(entity) %>
      <% end %>
    <% end %>
    <div class="card-body d-flex flex-column">
      <div>
        <h5 class="card-title mb-1 <%= title_classes %>">
          <% if policy(entity).show? %>
            <%= link_to entity.to_s, entity, class: 'text-primary text-decoration-none stretched-link' %>
          <% else %>
            <%= entity.to_s %>
          <% end %>
        </h5>
        <% if show_timestamp %>
          <small class="text-muted"><%= l(entity.updated_at, format: :short) %></small>
        <% end %>
      </div>
      <%= yield if block_given? %>
    </div>
  </div>
</div>
