<div class="border rounded p-2 mb-2">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2">
      <%= evidence_link_fields.label :citation_id, 'Citation' %>
      <%= evidence_link_fields.select :citation_id,
                                      options_for_select(record.citations.map { |citation| [citation.title, citation.id] }, evidence_link_fields.object.citation_id),
                                      { include_blank: true },
                                      class: 'form-select' %>
    </div>

    <div class="col mb-2">
      <%= evidence_link_fields.label :relation_type %>
      <%= evidence_link_fields.select :relation_type,
                                      options_for_select(BetterTogether::EvidenceLink::RELATION_TYPES.map { |type| [type.humanize, type] }, evidence_link_fields.object.relation_type),
                                      {},
                                      class: 'form-select' %>
    </div>

    <div class="col-12 mb-2">
      <%= evidence_link_fields.label :locator %>
      <%= evidence_link_fields.text_field :locator, class: 'form-control', placeholder: 'p. 10, fig. 2, 00:03:12' %>
    </div>

    <div class="col-12 mb-2">
      <%= evidence_link_fields.label :quoted_text %>
      <%= evidence_link_fields.text_area :quoted_text, class: 'form-control', rows: 2 %>
    </div>

    <div class="col-12 mb-2">
      <%= evidence_link_fields.label :editor_note %>
      <%= evidence_link_fields.text_area :editor_note, class: 'form-control', rows: 2 %>
    </div>
  </div>
</div>
