<% if invitations.any? %>
  <hr/>
  <h6 class="mb-2"><%= local_assigns[:title] || t('better_together.invitations.title', default: 'Invitations') %></h6>
  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th><%= t('better_together.invitations.invitee', default: 'Invitee') %></th>
          <th><%= t('better_together.invitations.invitee_type', default: 'Invitee Type') %></th>
          <th><%= t('globals.status', default: 'Status') %></th>
          <th><%= t('globals.sent', default: 'Sent') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="<%= local_assigns[:tbody_id] || 'invitations_table_body' %>">
        <% invitations.each do |invitation| %>
          <%= render 'better_together/shared/invitation_row', 
              invitation_row: invitation, 
              resend_path: local_assigns[:resend_path_proc].call(invitation),
              destroy_path: local_assigns[:destroy_path_proc].call(invitation) %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>