
<!-- app/views/better_together/shared/_translated_string_field.html.erb -->

<%# locals: (model:, form:, attribute:, temp_id: SecureRandom.uuid) -%>

<div class="localized-fields" data-controller="better_together--translation">
 <ul class="nav nav-tabs px-2" id="<%= attribute %>-translation-tabs-<%= temp_id %>" role="tablist" data-translation-target="tab">
    <%- I18n.available_locales.each do |locale| %>
      <%= translation_tab_button(attribute: attribute, locale: locale, temp_id: temp_id, model: model) %>
    <% end %>
  </ul>

  <div class="tab-content px-0 mt-2" id="<%= dom_id(model) %>-<%= attribute %>-translation-fields">
    <%- I18n.available_locales.each do |locale| %>
      <% locale_attribute = "#{attribute}_#{locale}" %>
      <% unique_locale_attribute = "#{locale_attribute}_#{temp_id}" %>
      <div class="tab-pane fade <%= 'show active' if locale.to_s == I18n.locale.to_s %>"
          id="<%= "#{unique_locale_attribute}-field" %>"
          role="tabpanel"
          aria-labelledby="<%= "#{unique_locale_attribute}-tab" %>"
          data-locale="<%= locale %>"
          data-translation-target="tabContent">
        <%= form.label model.class.human_attribute_name(locale_attribute) %>
        <%= form.text_area locale_attribute,
            id: "#{dom_id(model)}-#{locale_attribute}",
            class: "form-control#{' is-invalid' if model.errors[locale_attribute].any?}",
            data: { translation_target: "input", action: "input->translation#updateTranslationStatus" } %>
        <% if model.errors[locale_attribute].any? %>
          <div class="invalid-feedback">
            <%= model.errors[locale_attribute].join(", ") %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
