<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<div class="container my-3">
  <h1><%= t('.title') %></h1>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:name) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:description) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:slug) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:state) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:country) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:settlements) %></th>
            <th><%= ::BetterTogether::Geography::Region.human_attribute_name(:protected) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'better_together/geography/regions/region', collection: @geography_regions %>
        </tbody>
      </table>
    </div>
  </div>

  <% if policy(::BetterTogether::Geography::Region.new).create? %>
    <%= link_to "New region", new_geography_region_path, class: "btn btn-success mt-3" %>
  <% end %>
</div>

