
<div id="form_errors">
  <% if community.errors.any? %>
    <div class="alert alert-danger mt-3" role="alert">
      <h2><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h2>
      <ul>
        <% community.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% if community.protected %>
  <div class="mb-3">
    <span class="badge bg-danger"><strong>Protected</strong></span>
    <div class="text-danger mt-1">
      This record is protected and cannot be deleted.
    </div>
  </div>
<% end %>

<% if community.host? %>
  <div class="mb-3">
    <span class="badge bg-success"><strong>Host</strong></span>
    <div class="text-success mt-1">
      This record is the host and cannot be deleted.
    </div>
  </div>
<% end %>

<%= form.hidden_field :creator_id, value: current_person&.id %>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_string_field', locals: { model: community, form: form, attribute: 'name' } %>
</div>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_text_field', locals: { model: community, form: form, attribute: 'description' } %>
</div>

<div class="mb-3">
  <%= render partial: 'better_together/shared/translated_string_field', locals: { model: community, form: form, attribute: 'slug' } %>
</div>

<div class="mb-3">
  <%= form.label :privacy, class: "form-label" %>
  <%= privacy_field(form:, klass: resource_class) %>
</div>
