<tr id="<%= dom_id community %>" class="<%= dom_class community %>">
  <td><%= community.identifier %></td>
  <td><%= community.name %></td>
  <td><%= community.description_html.to_plain_text.truncate(100) %></td>
  <td><%= community.slug %></td>
  <td><%= community.class.model_name %></td> <!-- Fetching and translating the type -->
  <td><%= privacy_display_value(community) %></td>
  <td><%= community.protected ? t('globals.yes') : t('globals.no') %></td>
  <td><%= community.host ? t('globals.yes') : t('globals.no') %></td>
  <td class="text-end">
    <% if policy(community).show? %>
      <%= link_to community.as_community, class: 'btn btn-outline-info btn-sm me-1', 'aria-label' => 'Show Community' do %>
        <i class="fas fa-eye"></i> <%= t('globals.show') %>
      <% end %>
    <% end %>
    <% if policy(community).edit? %>
      <%= link_to edit_community_path(community.as_community), class: 'btn btn-outline-secondary btn-sm me-1', 'aria-label' => 'Edit Community' do %>
        <i class="fas fa-edit"></i> <%= t('globals.edit') %>
      <% end %>
    <% end %>
    <% if policy(community).destroy? %>
      <%= link_to community_path(community.as_community), method: :delete, data: { turbo_confirm: t('globals.confirm_delete'), turbo_method: :delete }, class: 'btn btn-outline-danger btn-sm', 'aria-label' => 'Delete Community' do %>
        <i class="fas fa-trash-alt"></i> <%= t('globals.delete') %>
      <% end %>
    <% end %>
  </td>
</tr>
