
<% content_for :page_title do %>
  <%= t('globals.edit') %> <%= @resource.name %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <div class="d-flex flex-wrap justify-content-between align-items-center gap-2 mb-4">
    <h1 class="mb-0"><%= t('better_together.communities.edit_heading', default: 'Editing Community') %></h1>
    <% if @community.persisted? %>
      <%= link_to t('better_together.billing.manage_link', default: 'Manage billing'),
                  community_billing_path(@community, locale: I18n.locale),
                  class: 'btn btn-outline-primary' %>
    <% end %>
  </div>

  <% if @hosted_entitlement.present? %>
    <%= render 'better_together/shared/hosted_entitlement_card', hosted_entitlement: @hosted_entitlement %>
  <% end %>

  <%= render "form", community: @community %>
</div>
