<% content_for :page_title do %>
  <%= resource_class.model_name.human.pluralize %>
<% end %>

<% set_meta_description('communities.index', platform_name: host_platform.name) %>

<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= resource_class.model_name.human.pluralize %></h1>
    <% if policy(::BetterTogether::Community.new).create? %>  <!-- Policy check for create permission -->
      <%= link_to new_community_path, class: 'btn btn-primary', 'aria-label' => 'Add Community' do %>
        <i class="fas fa-plus"></i> <%= t('.new_btn_text') %>
      <% end %>
    <% end %>
  </div>

  <% if communities_map && communities_map.spaces.any? %>
    <section class="communities-map my-4">
      <%= render partial: 'better_together/shared/map', locals: { map: communities_map } %>
    </section>
  <% end %>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4  ">
    <%= render(partial: 'better_together/communities/community', collection: @communities, as: :community) || render('none') %>
  </div>
</div>
