<% content_for :page_title do %>
  <%= t('.title') %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1 class="mb-4"><%= t('.title') %></h1>

  <%= render "form", community: @community %>

  <div class="mt-3">
    <% if policy(resource_class.new).index? %>
      <%= link_to t('globals.back_to_list'), communities_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
