
<% content_for :page_title do %>
  <%= @community.name %> | Communities
<% end %>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-3">
        <%= @community.name %>
        <% if @community.host? %>
          <span class="badge bg-success ms-2">Host</span>
        <% end %>
      </h3>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Identifier:</strong></div>
        <div class="col-md-9"><%= @community.identifier %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Name:</strong></div>
        <div class="col-md-9"><%= @community.name %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Description:</strong></div>
        <div class="col-md-9"><%= @community.description %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Slug:</strong></div>
        <div class="col-md-9"><%= @community.slug %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Privacy:</strong></div>
        <div class="col-md-9"><%= @community.privacy %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Protected:</strong></div>
        <div class="col-md-9"><%= @community.protected ? 'Yes' : 'No' %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><strong>Host:</strong></div>
        <div class="col-md-9"><%= @community.host ? 'Yes' : 'No' %></div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <% if policy(@community).edit? %>
      <%= link_to "Edit this community", edit_community_path(@community), class: "btn btn-primary me-2" %>
    <% end %>
    <%= link_to "Back to communities", communities_path, class: "btn btn-secondary me-2" %>
    <% if policy(@community).destroy? %>
      <%= button_to "Destroy this community", community_path(@community), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "margin-right: 10px;" %>
    <% end %>
  </div>

  <!-- Membership section -->
  <hr aria-hidden="true">
  
  <section class="community-tabbed-section">
    <%# Initialize the active tab state with accessible attributes %>
    <%= content_tag :div, id: 'communityTabs', class: 'nav nav-tabs', role: 'tablist', aria_label: 'Community Sections' do %>
      <%= link_to 'Members', '#members', class: 'nav-link active', id: 'members-tab', data: { bs_toggle: 'tab', bs_target: '#members', bs_parent: '#communitySections' }, role: 'tab', aria_controls: 'members', aria_selected: 'true', tabindex: '0' %>
    <% end %>

  <!-- Component container with the Stimulus controller -->
  <div data-controller="modal">
    <!-- Button to trigger modal, now inside the controller's scope -->
    <button type="button" class="btn btn-primary" data-action="modal#open">
      Add Member
    </button>

    <!-- Modal structure also within the same controller scope -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" data-modal-target="modal" data-action="modal-success@window->modal#handleSuccess">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMemberModalLabel">Add New Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Your form or other modal content here -->
            <%= form_with model: [ @community, ::BetterTogether::PersonCommunityMembership.new ], data: { turbo_frame: "modal_form" }, local: true do |form| %>
              <!-- Rendering error messages here -->
              <%= turbo_frame_tag 'form_errors' %>

              <div class="mb-3">
                <%= form.label :member_id, "Select Person *", class: "form-label" %>
                <%= form.collection_select :member_id, ::BetterTogether::Person.where.not(id: @community.person_community_memberships.select(:member_id)), :id, :name, { prompt: "Select a person" }, { class: "form-select", required: true } %>
              </div>
              <div class="mb-3">
                <%= form.label :role_id, "Select Role *", class: "form-label" %>
                <%= form.collection_select :role_id, ::BetterTogether::Role.where(resource_type: "BetterTogether::Community"), :id, :name, { prompt: "Select a role" }, { class: "form-select", required: true } %>
              </div>
              <div class="mb-3">
                <%= form.submit "Add", class: "btn btn-primary" %>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>



    <%# Accordion content with accessible attributes and flexbox layout %>
    <div class="accordion mt-3" id="communitySections" role="tabpanel">
      <% if @community.person_community_memberships.exists? %>
        <div class="accordion-item">
          <div id="members" class="accordion-collapse collapse show" aria-labelledby="members-tab" aria-expanded="true" data-bs-parent="#communityTabs">
            <div class="accordion-body">
              <%= turbo_frame_tag 'members_list', class: 'row' do %>
                <%= render partial: 'better_together/person_community_memberships/person_community_membership', collection: @community.person_community_memberships %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
