<% content_for :page_title do %>
  <%= @resource.name %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container-fluid mb-3 px-0">

  <!-- Community Header Section -->
  <div class="profile-header position-relative">
    <!-- Cover Image Section -->
    <div class="cover-image-container">
      <% if @resource.cover_image.attached? %>
        <%= image_tag @resource.cover_image_variant(2400, 600).url, class: "cover-image", alt: "Cover Image" %>
      <% else %>
        <%= image_tag image_url('default_profile_cover.jpg'), class: "cover-image", alt: "Default Cover Image" %>
      <% end %>
    </div>

    <!-- Profile Image Section -->
    <div class="profile-image-wrapper">
      <% if @resource.profile_image.attached? %>
        <%= image_tag @resource.profile_image_variant(300).url, class: 'profile-image', alt: 'Profile Image' %>
      <% else %>
        <%= image_tag image_url('default_profile_image_community.jpg'), class: 'profile-image', alt: 'Default Community Image' %>
      <% end %>
    </div>
    
    <!-- Profile Information Section -->
    <div class="profile-info-container container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="profile-info">
          <h1 class="profile-name mt-3"><%= @resource.name %></h1>
          <p class="profile-description"><%= @resource.description %></p>
        </div>
        <div>
          <% if policy(@resource).edit? %>
            <%= link_to t('globals.edit'), edit_community_path(@resource), class: 'btn btn-primary btn-sm', 'aria-label' => 'Edit Community' %>
          <% end %>
          <% if policy(@resource).destroy? %>
            <%= link_to t('globals.delete'), community_path(@resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', style: "margin-left: 10px;", 'aria-label' => 'Delete Community' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Membership section -->
    <hr aria-hidden="true">
    
    <!-- Community tabbed section with members -->
    <section class="card community-tabbed-section">

      <div class="card-header">
        <!-- Navigation tabs -->
        <%# Initialize the active tab state with accessible attributes %>
        <%= content_tag :div, id: 'communityTabs', class: 'nav nav-tabs', role: 'tablist', aria_label: 'Community Sections' do %>
          <%= link_to 'Members', '#members', class: 'nav-link active', id: 'members-tab', data: { bs_toggle: 'tab', bs_target: '#members', bs_parent: '#communitySections' }, role: 'tab', aria_controls: 'members', aria_selected: 'true', tabindex: '0' %>
        <% end %>
      </div>

      <% if policy(BetterTogether::PersonCommunityMembership).create? %>
        <!-- Add Member Button -->
        <div class="card-header" data-controller="new-person-community-membership">
          <button type="button" class="btn btn-primary" data-action="click->new-person-community-membership#openModal">
            Add Member
          </button>

          <!-- Add Member Modal -->
          <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" data-new-person-community-membership-target="modal" data-action="turbo:submit-end->new-person-community-membership#handleSuccess">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addMemberModalLabel">Add New Member</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- Your form or other modal content here -->
                  <%= form_with model: [ @resource, ::BetterTogether::PersonCommunityMembership.new ], url: community_person_community_memberships_path(@resource), data: { turbo_frame: "modal_form" }, local: true do |form| %>
                    <!-- Rendering error messages here -->
                    <%= turbo_frame_tag 'form_errors' %>

                    <div class="mb-3" id="member_select">
                      <%= form.label :member_id, "Select Person *", class: "form-label" %>
                      <%= form.collection_select :member_id, ::BetterTogether::Person.where.not(id: @resource.person_community_memberships.select(:member_id)), :id, :name, { prompt: "Select a person" }, { class: "form-select", required: true } %>
                    </div>

                    <div class="mb-3">
                      <%= form.label :role_id, "Select Role *", class: "form-label" %>
                      <%= form.collection_select :role_id, ::BetterTogether::Role.where(resource_type: "BetterTogether::Community"), :id, :name, { prompt: "Select a role" }, { class: "form-select", required: true } %>
                    </div>
                    <div class="mb-3">
                      <%= form.submit "Add", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%# Accordion content with accessible attributes and flexbox layout %>
      <div class="card-body" id="communitySections" role="tabpanel">
        <% if @resource.person_community_memberships.exists? %>
          <div id="members_list" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 collapse show" aria-labelledby="members-tab" aria-expanded="true" data-bs-parent="#communityTabs">
            <%= render partial: 'better_together/person_community_memberships/person_community_membership_member', collection: @resource.person_community_memberships, as: :membership %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    // Check if URL hash is present and corresponds to a tab
    var hash = window.location.hash;
    if (hash) {
      // Activate the tab corresponding to the hash
      var selectedTab = document.querySelector(`a[data-bs-target="${hash}"]`);
      if (selectedTab) {
        new bootstrap.Tab(selectedTab).show();
      }
    }

    // Update URL hash when tab is changed
    var tabLinks = document.querySelectorAll('#communityTabs a[data-bs-toggle="tab"]');
    tabLinks.forEach(function(link) {
      link.addEventListener('shown.bs.tab', function(event) {
        window.location.hash = event.target.getAttribute('data-bs-target');
      });
    });
  });
</script>
