
<%# locals: (form:) %>

<div id="cover-image-fields" class="mb-3" data-controller="better_together--image-preview"
  data-image-preview-clear-value="<%= t('globals.clear') %>"
  data-image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
  <%= label_tag do %>
    <%= form.object.class.human_attribute_name(:cover_image) %>
    <% if form.object.cover_image.attached? %>
      : <%= form.object.cover_image.filename %>
    <% end %>
  <% end %>

  <div class="input-group">
    <%= form.file_field :cover_image, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => 'input', data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
    <%= form.hidden_field :remove_cover_image, value: '0', "data-better_together--image-preview-target" => "deleteField" %>
    <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', "data-better_together--image-preview-target" => "deleteButton", data: { 'action' => "better_together--image-preview#toggleDelete", 'clear-value' => t('globals.clear'), 'undo-clear-value' => t('globals.undo_clear'), 'no-image-value' => t('globals.no_image') } } %>
  </div>

  <small class="form-text text-muted"><%= t('helpers.hint.images.cover_image') %></small>

  <div class="my-3 text-center preview-target" data-better_together--image-preview-target="preview" data-image-classes="cover-image" data-url="<%= form.object.cover_image.url if form.object.cover_image.attached? %>">
  </div>
</div>