<%= form_with(model: person, class: "contents", multipart: true, data: { controller: "better_together--form-validation better_together--tabs" }) do |form| %>
  <% if person.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" role="alert">
      <h2><%= pluralize(person.errors.count, t('helpers.errors.heading')) %> <%= t('helpers.errors.prohibited') %></h2>
      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit t('better_together.people.submit.save'), class: "btn btn-primary" %>
  </div>

  <div class="row">
    <!-- Vertical Pills Navigation -->
    <div class="col-md-3 mb-3">
      <div class="nav flex-column nav-pills" id="person-form-tabs" role="tablist" aria-orientation="vertical">
        <button class="nav-link" id="person-details-tab" data-bs-toggle="pill" data-bs-target="#person-details" type="button" role="tab" aria-controls="person-details" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.people.tabs.details') %>
        </button>
        <button class="nav-link" id="person-images-tab" data-bs-toggle="pill" data-bs-target="#person-images" type="button" role="tab" aria-controls="person-images" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.people.tabs.images') %>
        </button>
        <button class="nav-link" id="person-contact-details-tab" data-bs-toggle="pill" data-bs-target="#person-contact-details" type="button" role="tab" aria-controls="person-contact-details" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('better_together.people.tabs.contact_details') %>
        </button>
        <button class="nav-link active" id="person-preferences-tab" data-bs-toggle="pill" data-bs-target="#person-preferences" type="button" role="tab" aria-controls="person-preferences" aria-selected="true" data-better_together--tabs-target="tab">
          <%= t('better_together.people.tabs.preferences') %>
        </button>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-md-9 tab-content" id="person-form-tabs-content">
      <!-- Details Tab -->
      <div class="nav-tab-pane tab-pane fade" id="person-details" role="tabpanel" aria-labelledby="person-details-tab">
        <div class="mb-3">
          <%= render partial: 'better_together/shared/translated_string_field', locals: { model: person, form: form, attribute: 'name' } %>
        </div>

        <div class="mb-3">
          <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: person, form: form, attribute: 'description_html' } %>
        </div>

        <div class="mb-3">
          <%= render partial: 'better_together/shared/translated_string_field', locals: { model: person, form: form, attribute: 'slug' } %>
        </div>
      </div>

      <!-- Images Tab -->
      <div class="nav-tab-pane tab-pane fade" id="person-images" role="tabpanel" aria-labelledby="person-images-tab">
        <div class="mb-3" data-controller="better_together--image-preview"
          data-better_together--image-preview-clear-value="<%= t('globals.clear') %>"
          data-better_together--image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
          <%= label_tag do %>
            <%= t('helpers.label.person.profile_image') %>
            <% if person.profile_image.attached? %>
              : <%= person.profile_image.filename %>
            <% end %>
          <% end %>

          <div class="input-group">
            <%= form.file_field :profile_image, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => 'input', data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
            <%= form.hidden_field :remove_profile_image, value: '0', "data-better_together--image-preview-target" => "deleteField" %>
            <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', "data-better_together--image-preview-target" => "deleteButton", data: { 'action' => "better_together--image-preview#toggleDelete", 'clear-value' => t('globals.clear'), 'undo-clear-value' => t('globals.undo_clear'), 'no-image-value' => t('globals.no_image') } } %>
          </div>

          <small class="form-text text-muted"><%= t('helpers.hint.person.profile_image') %></small>

          <div class="my-3 text-center preview-target" data-better_together--image-preview-target="preview" data-image-classes="profile-image" data-url="<%= person.profile_image.url if person.profile_image.attached? %>">
          </div>
        </div>

        <div class="mb-3" data-controller="better_together--image-preview"
          data-better_together--image-preview-clear-value="<%= t('globals.clear') %>"
          data-better_together--image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
          <%= label_tag do %>
            <%= t('helpers.label.person.cover_image') %>
            <% if person.cover_image.attached? %>
              : <%= person.cover_image.filename %>
            <% end %>
          <% end %>

          <div class="input-group">
            <%= form.file_field :cover_image, accept: acceptable_image_file_types, "data-better_together--image-preview-target" => 'input', data: { 'action' => "better_together--image-preview#preview" }, class: "form-control" %>
            <%= form.hidden_field :remove_cover_image, value: '0', "data-better_together--image-preview-target" => "deleteField" %>
            <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', 'data-better_together--image-preview-target' => "deleteButton", data: { 'action' => "better_together--image-preview#toggleDelete", 'clear-value' => t('globals.clear'), 'undo-clear-value' => t('globals.undo_clear'), 'no-image-value' => t('globals.no_image') } } %>
          </div>

          <small class="form-text text-muted"><%= t('helpers.hint.person.cover_image') %></small>

          <div class="my-3 text-center preview-target" data-better_together--image-preview-target="preview" data-image-classes="cover-image" data-url="<%= person.cover_image.url if person.cover_image.attached? %>">
          </div>
        </div>
      </div>

      <!-- Contact Details Tab -->
      <div class="nav-tab-pane tab-pane fade" id="person-contact-details" role="tabpanel" aria-labelledby="person-contact-details-tab">
        <div class="mb-3">
          <%= render partial: 'better_together/contact_details/contact_detail_fields', locals: { form: } if person.persisted? %>
        </div>
      </div>

      <!-- Preferences Tab -->
      <div class="nav-tab-pane tab-pane fade show active"
           id="person-preferences"
           role="tabpanel"
           aria-labelledby="person-preferences-tab">
        <%= render 'preferences', person:, form: %>
      </div>
    </div>
  </div>
<% end %>
