<%= form_with(model: person, class: "contents", multipart: true, data: { controller: 'form-validation' }) do |form| %>
  <% if person.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" role="alert">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= required_label(form, :name, class: "form-label") %>
    <%= form.text_field :name, class: "form-control", required: true %>
    <small class="form-text text-muted"><%= t('helpers.hint.person.name') %></small>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <small class="form-text text-muted"><%= t('helpers.hint.person.description') %></small>
  </div>

  <div class="mb-3">
    <%= form.label :slug, class: "form-label" %>
    <%= form.text_field :slug, class: "form-control" %>
    <small class="form-text text-muted"><%= t('helpers.hint.person.slug') %></small>
  </div>

  <div class="mb-3" data-controller="image-preview"
     data-image-preview-clear-value="<%= t('globals.clear') %>"
     data-image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
    <%= label_tag do %>
      <%= person.class.human_attribute_name(:profile_image) %>
      <% if person.profile_image.attached? %>
        : <%= person.profile_image.filename %>
      <% end %>
    <% end %>

    <div class="input-group">
      <%= form.file_field :profile_image, accept: acceptable_image_file_types, data: { action: "image-preview#preview", image_preview_target: 'input' }, class: "form-control" %>
      <%# Hidden field to track removal state %>
      <%= form.hidden_field :remove_profile_image, value: '0', data: { image_preview_target: "deleteField" } %>

      <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', data: { image_preview_target: "deleteButton", action: "image-preview#toggleDelete", clearValue: t('globals.clear'), undoClearValue: t('globals.undo_clear'), noImageValue: t('globals.no_image') } } %>
    </div>

    <small class="form-text text-muted"><%= t('helpers.hint.person.profile_image') %></small>

    <!-- Image preview container -->
    <div class="my-3 text-center preview-target" data-image-preview-target="preview" data-image-classes="profile-image" data-url="<%= person.profile_image.url if person.profile_image.attached? %>">
      <!-- The image preview will be dynamically inserted here -->
    </div>
  </div>

  <div class="mb-3" data-controller="image-preview"
      data-image-preview-clear-value="<%= t('globals.clear') %>"
      data-image-preview-undo-clear-value="<%= t('globals.undo_clear') %>">
    <%= label_tag do %>
      <%= person.class.human_attribute_name(:cover_image) %>
      <% if person.cover_image.attached? %>
        : <%= person.cover_image.filename %>
      <% end %>
    <% end %>

    <div class="input-group">
      <%= form.file_field :cover_image, accept: acceptable_image_file_types, data: { action: "image-preview#preview", image_preview_target: 'input' }, class: "form-control" %>
      <%# Hidden field to track removal state %>
      <%= form.hidden_field :remove_cover_image, value: '0', data: { image_preview_target: "deleteField" } %>

      <%= button_tag t('globals.clear'), { type: 'button', class: 'btn btn-secondary', data: { image_preview_target: "deleteButton", action: "image-preview#toggleDelete", clearValue: t('globals.clear'), undoClearValue: t('globals.undo_clear'), noImageValue: t('globals.no_image') } } %>
    </div>

    <small class="form-text text-muted"><%= t('helpers.hint.person.cover_image') %></small>

    <!-- Image preview container (empty initially) -->
    <div class="my-3 text-center preview-target" data-image-preview-target="preview" data-image-classes="cover-image" data-url="<%= person.cover_image.url if person.cover_image.attached? %>">
      <!-- The image preview will be dynamically inserted here -->
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
