<%# app/views/better_together/people/show.html.erb %>

<div class="container">
  <h1><%= @person.name %>'s Profile</h1>
  <p><%= @person.description %></p>

  <%# if @person.profile_image.attached? %>
    <%#= image_tag url_for(@person.profile_image) %>
  <%# end %>
  <%= link_to 'Edit Profile', edit_person_path(@person), class: 'btn btn-primary' %>

  <%# Check if there are any platform memberships before rendering the section %>
  <% if @person.person_platform_memberships.exists? %>
    <div>
      <h2>Platforms</h2>
      <ul>
        <% @person.person_platform_memberships.each do |membership| %>
          <li>
            <%= membership.joinable.name %> 
            (Role: <%= membership.role.name %>, Joined: <%= membership.created_at.strftime("%Y-%m-%d") %>)
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Check if there are any community memberships before rendering the section %>
  <% if @person.person_community_memberships.exists? %>
    <div>
      <h2>Communities</h2>
      <ul>
        <% @person.person_community_memberships.each do |membership| %>
          <li>
            <%= membership.joinable.name %> 
            (Role: <%= membership.role.name %>, Joined: <%= membership.created_at.strftime("%Y-%m-%d") %>)
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Check if there are any community memberships before rendering the section %>
  <% if @person.role_resource_permissions.any? %>
    <div>
      <h2>Resource Permissions</h2>
      <ul>
        <% @person.role_resource_permissions.each do |role_resource_permission| %>
          <li>
            <%= role_resource_permission.resource_permission.identifier %> 
            (Role: <%= role_resource_permission.role.name %>, Granted: <%= role_resource_permission.created_at.strftime("%Y-%m-%d") %>)
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>


</div>
