<%# app/views/better_together/people/show.html.erb %>

<div class="container">
  <h1><%= @person.name %>'s Profile</h1>
  <p><%= @person.description %></p>

  <%# if @person.profile_image.attached? %>
    <%#= image_tag url_for(@person.profile_image) %>
  <%# end %>
  <%= link_to 'Edit Profile', edit_person_path(@person), class: 'btn btn-primary' %>

  <%# Display platforms through memberships with role names %>
  <div>
    <h2>Platform Memberships</h2>
    <ul>
      <% @person.person_platform_memberships.each do |membership| %>
        <li>
          <%= membership.joinable.name %> 
          (Role: <%= membership.role.name %>, Joined: <%= membership.created_at.strftime("%Y-%m-%d") %>)
        </li>
      <% end %>
    </ul>
  </div>

  <%# Display communities through memberships with role names %>
  <div>
    <h2>Community Memberships</h2>
    <ul>
      <% @person.person_community_memberships.each do |membership| %>
        <li>
          <%= membership.joinable.name %> 
          (Role: <%= membership.role.name %>, Joined: <%= membership.created_at.strftime("%Y-%m-%d") %>)
        </li>
      <% end %>
    </ul>
  </div>

</div>
